<div class="quickview">
    <div class="quickview__item">
      <div class="quickview__item-total">41</div>
      <div class="quickview__item-description">
        <i class="far fa-calendar-alt"></i>
        <span class="text-light">Events</span>
      </div>
    </div>
    <div class="quickview__item">
      <div class="quickview__item-total">64</div>
      <div class="quickview__item-description">
        <i class="far fa-comment"></i>
        <span class="text-light">Messages</span>
      </div>
    </div>
    <div class="quickview__item">
      <div class="quickview__item-total">27&deg;</div>
      <div class="quickview__item-description">
        <i class="fas fa-map-marker-alt"></i>
        <span class="text-light">Austin</span>
      </div>
    </div>
  </div>

