// Main header quick view update items
.quickview {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 60px;

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-total {
      margin-bottom: 2px;
      font-size: 32px;
    }

    &-description {
      font-size: 16px;
      text-align: center;
    }
  }
}

