@model RegisterViewModel
@{
  ViewData["Title"] = "Register";
}

@inject Microsoft.Extensions.Configuration.IConfiguration configuration

<div class="text-center">
  <br /><h1 class="display-4">Govmeeting</h1>
</div>


<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
  <h4>Create a new account.</h4>
  <hr />
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="Email" class="col-md-2 control-label"></label>
    <div class="col-md-10">
      <input asp-for="Email" class="form-control" />
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <label asp-for="Password" class="col-md-2 control-label"></label>
    <div class="col-md-10">
      <input asp-for="Password" class="form-control" />
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
    <div class="col-md-10">
      <input asp-for="ConfirmPassword" class="form-control" />
      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div>
        After you click "Register", you will receive an email containing a link.
        Please go to your email and click the link to confirm your email.
      </div>

      <div class="g-recaptcha" data-sitekey="@(configuration["ReCaptcha:SiteKey"])"></div>
      <br>

      <!--  Disable registration  except for development, until we are ready. -->
      <!-- TODO - remove this when ready -->
      <environment names="Development">
        <button type="submit" class="btn btn-default AccountButton">Register</button>
      </environment>
      <environment names="Staging,Production">
        <button disabled type="submit" class="btn btn-default AccountButton">Register</button>
      </environment>
    </div>
  </div>
</form>

@* @await Html.PartialAsync("_DevNotePartial") *@

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  <script src='https://www.google.com/recaptcha/api.js'></script>
}
