/*
The following is the import statement that was in the example.
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
main.css is in BrowserApp/src/client/css. @angular is in BrowserApp/src/client/app/node_modules.
I changed the import to the one below. But then I get the following error when running "npm run build.prod":
 Failed to find ../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css from
     C:\GOVMEETING\_SOURCECODE\src\Client\BrowserApp\src\client\css\main.css in [
    .,    C:\GOVMEETING\_SOURCECODE\src\Client\BrowserApp\src\client\css
*/
/* @import '../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css'; */

/*
.call-outs-container {
    max-width:1400px;
    margin: 40px auto 0 auto;
}
@media (min-width: 700px) {
    .call-outs-container {
        display: flex;
        justify-content: space-between;
    }
}
.call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
}
.call-out:nth-child(1) {background-color: #c0dbe2}
.call-out:nth-child(2) {background-color: #cdf1c3}
.call-out:nth-child(3) {
    background-color: #ccb9da;
    margin: 40px 0 40px 0;
    }

.mypurplediv {
    background-color: #cdf1c3;
}
*/


/******************************************
.main-content {
    padding: 32px;
}

.container {
    background-color: #DDD
}
.form-row {
    padding: 10px 0;
    display: flex;
}
.form-row label {
    padding-right: 10px;
}
.form-row input {
    flex: 1;
}

.column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
.main-column {
    flex: 3;
    order: 2;
    padding: 20px;
    margin: 0 40px 0 40px;
}
.sidebar-one {
    flex: 1;
    order: 1;
    padding: 20px;
}
.sidebar-two {
    flex: 1;
    order: 3;
    padding: 20px;
}

.main-column {background-color: #c0dbe2}
.sidebar-one {background-color: #cdf1c3}
.sidebar-two {
    background-color: #ccb9da;
    margin: 40px 0 40px 0;
    }
*/

/******************************************
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

.chosen {
  color: red;
}
*/
