<h1>
 <!-- {{title}} -->
</h1>
<sd-video></sd-video>
<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
  <div layout="row">
    <md-card class="app-input-section">
      <div class="app-content">
        <form>
              <ul style="list-style: none;">
              <li *ngFor="let a of asr; let i = index">
                <input type="text" size="50" [value]="a.said" (click)="playPhrase(i)"/>
              </li>
              <li></li>
            </ul>
            <button (click)="saveChanges()">Save Changes</button>
        </form>
      </div>
    </md-card>
  </div>
</md-sidenav-layout>
