<p>
  <br /><h1> Govmeeting - under construction </h1>
<p>
<p>
  This is an open source project. It's goal is to enable greater participation in local democracy.
  See: <a href="https://github.com/govmeeting/govmeeting"> Govmeeting Github Project </a>
  These pages describe the components. Those with an asterisk demo some working parts.
</p>

<h3> <a [routerLink]="['/about']">About</a> </h3>
  This page explains more about the goals of project.


<h3> <a [routerLink]="['/serverdemo']">1. Pre-processing</a> </h3>
  Govmeeting will retrieve existing recording and transcripts of meetings and then pre-process them.

<h3> <a [routerLink]="['/fixasr']">2. Fix ASR *</a> </h3>
<p>
  A couple of steps need the help of community volunteers.
  One is fixing errors in the generated text.
</p>

<h3> <a [routerLink]="['/addtags']">3. Add Tags *</a> </h3>
  The other manual step is to assign "tags" to parts of the meeting:

<h3> <a [routerLink]="['/viewmeeting']">4. View Meeting *</a> </h3>
  After the pre-processing, fixing and tagging, we now have a browsable transcript. 

<h3> <a [routerLink]="['/search']">5. Search Meetings</a> </h3>
  The next step is to populate a relational database. Then we can search it in many ways.

<h3> <a [routerLink]="['/home']">New Home Page</a> </h3>
  This current home page is temporary. A new page needs to be built.

<h3> <a [routerLink]="['/volunteer']">Volunteer Page</a> </h3>
  Volunteers need a page to aid in collaboration.

<h3> <a [routerLink]="['/registergov']">Register Entity</a> </h3>
  A page is needed for registering a government entity to take part in Govmeeting

<h3> <a [routerLink]="['/otherfeatures']">Other Features</a> </h3>
  This page talks of other features we will want to build.

<!--<h3> <a [routerLink]="['/test']">Test Area</a> </h3>

This is a temporary test page.-->
<br /><br />
