<p>
  <br /><h1> {{title}} </h1>
  <button (click)="changeTitle()">Change title</button>
<p>

<p>
  Meetings are the heart and soul of democracy.
  They are where people of different opinions listen to others and present their points of view.
</p>

<p>
  In the Athenian Assembly of 500 BC, a quorum of 6,000 of the 43,000 citizens was needed to conduct business.
  In the 10th century, the Icelandic Althing was held in a natural outdoor amphitheater and all citizens could attend.
</p>

<p>
  Today it is rare to see more than a dozen attendees at a council meeting in a town of 30,000 people.
  Is this still democracy?
</p>

<p>
  Some public meetings are broadcast on local TV.  But a very small percent of people actually watch.
  Sometimes very contentious issues are debated and voted on.
  But there is usually no public record kept of what was said.
</p>

<p>
  A dozen people at the meeting, including some council members, might speak strongly against some terrible decision.
  But it is easy today for the majority of the council to totally ignore them.
  They know that less than one percent of the voters will ever hear what they said.
</p>

<p>
  The purpose of this project is to preserve those discussions and make them easily available to all citizens of the community.
  It will do this through a combination of intelligent software and community volunteer effort.
</p>

<h2>Features</h2>

<p>Shortly after a government meeting takes place, you will be able to:</p>

<ul>
  <li> Receive a summary of issues discussed via text message or email. </li>
  <li> Optionally receive a full transcript of the meeting via email. </li>
</ul>

<p>At any time, you can go online and:</p>

<ul>
  <li> Sign up to receive a phone alert or email whenever a specific issue is discussed.</li>
  <li> Use a more powerful tool to browse a specific meeting.</li>
  <li> Search all past meetings for issues discussed.</li>
  <li> See all that was said in the past on any specific issue.</li>
  <li> See what any specific official said on any specific issue in all past meetings. This is especially helpful at election time.</li>
</ul>

<p>
  For a detailed functional design, see: <a href="https://github.com/govmeeting/govmeeting/wiki/functional-design">Funtional Design.</a><br>
  For a detailed system design, see: <a href="https://github.com/govmeeting/govmeeting/wiki/system-design">System Design.</a>
</p>


<h2> Further Goals </h2>


<ul>
  <li> Make this software usable by the estimated 450,000 cities and towns worldwide. </li>
  <li> Grow a database of the real issues as defined by communities themselves. </li>
  <li> Educate and involve more people in the workings of democracy.</li>
  <li> Serve as a foundation on which to build other more active features.</li>
  <li> Learn lessons at the local level that can translate to state and federal levels.</li>
</ul>

<p>
  Democracy is not easy. In the beginning, it was difficult enough for 50,000 people to try and govern themselves.
  Today hundreds of millions of people need to do this.
  This requires tools that can enable all of us to work together.
  Computers are first and foremost communication tools.
  Who else but computer programmers have the power to build the types of tools that are needed.
</p>


