.subhead {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin: 10px;
}

@media only screen and (max-width: 46.875em) {
  .subhead {
    font-size: 150%;
  }
}

.nopadding {
  padding: 0;
  /* margin: 0; */
}

.tinypadding {
  padding: 1px;
  /* margin: 1; */
}
.edit-help {
  border: 2px solid red;
  padding: 4px;
}
