.card {
  position: relative;
  width: 100%;
  border: 2px solid blue;

  &__content {
    background-color: lightgreen;
  }

  &__header {
    height: 50px;
    background-color: blue;
    color: white;
  }
}

