<!-- <div  class="subhead">
  New Registered Locations  <br />
</div> -->
This component will display news and other information about the project.<br />
<br />For example:
<ul>
  <li>
    Names of newly registered locations.
  </li>
  <li>
    Number of newly registered volunteers.
  </li>
  <li>
    Number of transcripts and recordings processed in past week/month
  </li>
  <li>
    Names and activity of most acttive volunteers
  </li>
  <li>
    New Govmeeting system features that were added
  </li>
</ul>
