<!--<h1> Hello World </h1>-->

<div class="header-box"> <gm-header></gm-header> </div>

<mat-sidenav-container class="sidenav-container" hasBackdrop=false>

  <mat-sidenav class="sidenav" #sidenav [opened]="!mediaQueryList.matches"
    mode=side fixedInViewport=true fixedTopGap=0 fixedBottomGap=0>

  <gm-sidenav-menu></gm-sidenav-menu>

  <!-- Mat-sidenav - A user may make a selection from left to right (in document order) or right to left (reverse of
  Mat-sidenav - A user may make a selection from left to right (in document order) or right to left (reverse of
  Mat-sidenav - A user may make a selection from left to right (in document order) or right to left (reverse of -->

  </mat-sidenav>

  <mat-sidenav-content>


    <!-- <router-outlet></router-outlet> -->
    <gm-dash-main></gm-dash-main>

    <!-- Mat-sidenav-context - A user may make a selection from left to right (in document order) or right to left (reverse of
    Mat-sidenav-context - A user may make a selection from left to right (in document order) or right to left (reverse of
    Mat-sidenav-context - A user may make a selection from left to right (in document order) or right to left (reverse of
    Mat-sidenav-context - A user may make a selection from left to right (in document order) or right to left (reverse of
    Mat-sidenav-context - A user may make a selection from left to right (in document order) or right to left (reverse of -->

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar class="main-footer">
  <gm-dash-footer></gm-dash-footer>
</mat-toolbar> -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../../../script.js"></script>
