@import "../../../../styles.scss";

$width-sidenav: 240px;

:host {
  position: fixed;
  grid-area: sidenav;
  height: 100%;
  background-color: $color-fiord;
  color: #FFF;
  width: $width-sidenav;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  // z-index: 2;
}
:host.sidenav--active {   transform: translateX(0); z-index: 3 }

.sidenav__close {
  position: absolute;
  right: 8px;
  top: 8px;
  visibility: visible;
  color: white;
  cursor: pointer;
}

// @media only screen and (min-width: 750px) {
  @media only screen and (min-width: 46.875em) {
  :host {
    position: fixed;
    transform: translateX(0);
    z-index: 3;

    &__brand-close {
      visibility: hidden;
    }
  }
}
