<!-- Display all the topics. Within each topic, we will display what was said. -->
<div id="browseMeeting" ng-controller="BrowseMeetingCtrl as bm">
    <div ng-repeat='topic in bm.topicDiscussions'>
        <div ng-show=bm.CheckShowTopic(topic.name);>
            <h2>{{topic.name}}</h2>
            <!-- Display all the speakers and their statements on this topic. -->
            <div ng-repeat='speaker in topic.speakers'>
                <div ng-show=bm.CheckShowSpeaker(speaker.name);>
                    <p><strong>{{speaker.name}}:</strong> {{speaker.text}} </p>
                </div>
            </div>
        </div>
    </div>
</div>
