<div ng-controller="MeetingOptionsCtrl as mo">
    <!-- The sidebar contains the options for choosing a topic or a speaker. Only what is chosen
    will be displayed in the main content. -->
    TOPICS<br>
    <!-- Display the topic names as radio buttons. -->
    <div ng-repeat="topic in mo.topicNames">
        <input type="radio" ng-model="mo.myTopic" ng-model-options="{ getterSetter: true }" value={{topic}}> {{topic}} <br>
    </div><br>

    SPEAKERS<br>
    <!-- Display the speaker names as radio buttons. -->
    <div ng-repeat="speaker in mo.speakerNames">
        <input type="radio" ng-model="mo.mySpeaker" ng-model-options="{ getterSetter: true }" value={{speaker}}> {{speaker}} <br>
    </div><br>

    Click a circle to see only that topic or only that speaker (or only that speaker on that topic, if you select both.). <br>
</div>
