<!-- Icon colors defined in src/styles.scss  -->
<gm-small-cards>
    <gm-small-card icon="far fa-file-alt" iconcolor="color-document-icon"
      title="Proposed Bills" subtitle="City Council">
    </gm-small-card>
    <gm-small-card icon="far fa-calendar-check" iconcolor="color-calendar-icon"
      title="Next Meetings" subtitle="All Departments">
    </gm-small-card>
    <gm-small-card icon="far fa-envelope" iconcolor="color-mail-icon"
      title="Messages" subtitle="+10">
    </gm-small-card>
    <gm-small-card icon="far fa-file-image" iconcolor="color-photo-icon"
      title="Recognition" subtitle="Most active">
    </gm-small-card>
  </gm-small-cards>

  <gm-main-cards>
    <gm-main-card  icon="far fa-calendar-check" iconcolor="color-calendar-icon"
      title="Issues">
     Recent<br/>
     Most active<br/>
     Those I am following<br/>
    </gm-main-card>
    <gm-main-card  icon="far fa-calendar-check" iconcolor="color-mail-icon"
      title="Shoutouts">
      <gm-shoutouts></gm-shoutouts>
    </gm-main-card>
    <gm-main-card  icon="far fa-calendar-check" iconcolor="color-calendar-icon"
      title="Elected Officials">
    </gm-main-card>
    <gm-main-card  icon="far fa-calendar-check" iconcolor="color-calendar-icon"
      title="Charts">
      <gm-pie-chart></gm-pie-chart>
      <gm-gauge></gm-gauge>
    </gm-main-card>
  </gm-main-cards>
