<p>
  Govmeeting makes transcipts of public meetings more accessable.
<p>

<ul>
  <li>The software is an <a href="http://github.com/govmeeting/govmeeting">open source Github project</a></li>
  <li> For Design detail, see: <a href="http://github.com/govmeeting/govmeeting/wiki/Design-Documentation">Github Wiki documentation.</a></li>
  <li></li>
  <li> The <a href="about">About tab</a> above gives an project overview
  <li> The <a href="meeting">Meeting tab</a> above shows a sample of a town selectmen's meeting.</li>
  <li> The <a href="Addtabs">Add Tags tab</a> above shows the program that a volunteer would use.</li>
</ul>
