[ This component needs to be written. ]
<p>
  This component allows users to get information about current and past issues.
</p>
Users will be able to:
<ul>
  <li>See what issues are currently being discussed at recent meetings.</li>
  <li>Select an issue and read what was said about it at past meetings.</li>
  <li>See issues arranged by category (Zoning, Public Safety, Housing, etc. )</li>
  <li>Compare issues by activity and amount of discussion.</li>
  <li>Compare types of issues discussed across different communities.</li>
</ul>
