/* You can add global styles to this file, and also import other style files */

/* See material.angular.io/guide/theming */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  //font-family: 'Times New Roman';
}

////////////// from Matt's
/* html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}
 */
 a {
  text-decoration: none;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}
/////////////



// .mat-tooltip.tooltip {
//   background-color: darkblue;
//   font-size: 12px;
// }

// .mat-tooltip {
//   font-size: 12px;
//   // background: red!important;
// }

// .help-icon {
//   position: relative;
//   right: 0;
// }

// .mat-icon {
//   font-size: 35px;
// }
