/* You can add global styles to this file, and also import other style files */

/* See material.angular.io/guide/theming */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$color-fiord: #394263; // sidenav bg & dark text
$color-white: #FFF; // card bg
$color-athens-gray: #EAEDF1; // content bg
$color-catskill-white: #F9FAFC; // top nav bg
$color-abbey: #777; // gray text
$color-mischka: #DADAE3; // light gray for menu icon
$color-java: #1BBAE1; // blue text
$color-mine-shaft: #333; // main section header bg
$color-zest: #e67e22; // document icon bg
$color-jungle-green: #27ae60; // calendar icon bg
$color-cinnabar: #e74c3c; // main icon bg, red
$color-amethyst: #af64cc; // main photo icon bg
$color-transparent: rgba(255, 255, 255, .5);
$color-alto: #D3D3D3;

$color-photo-icon: $color-amethyst;
$color-mail-icon: $color-cinnabar;

.color-document-icon {background-color: $color-zest;}
.color-calendar-icon {background-color: $color-jungle-green;}
.color-mail-icon {background-color: $color-mail-icon;}
.color-photo-icon {background-color: $color-photo-icon;}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  //font-family: 'Times New Roman';
}

 a {
  text-decoration: none;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.help-icon {
  // position: relative;
  position: fixed;
  right: 20;
  top: 0;
  color: lightblue;
}

// .mat-tooltip.tooltip {
//   background-color: darkblue;
//   font-size: 12px;
// }

// .mat-icon {
//   font-size: 35px;
// }
