<div class="card">
  <div class="card__header">
    <!-- <div class="card__header-title text-light">Your <strong>Events</strong> -->
    <div class="card__header-title text-light"><strong>{{title}} </strong>
      <a href="#" class="card__header-link text-bold">View All</a>
    </div>
    <div class="settings">
      <div class="settings__block"><i class="fas fa-edit"></i></div>
      <div class="settings__block"><i class="fas fa-cog"></i></div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
