.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  // align-items: top;
  align-items: flex-start;
  top: 5px;
  // top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-size: 100% 100%;
  // background-size: cover;
  // During development, this image comes from:
  //     C:\GOVMEETING\_SOURCECODE\FrontEnd\ClientApp\src\assets\images
  // During production, it comes from:
  //     C:\GOVMEETING\_SOURCECODE\FrontEnd\ClientApp\dist\assets\images
  // background-image: url("/assets/images/1024px-Austin_panorama_2018.png");
  // background-image: url("/assets/images/Travis County ranches.png");
  // background-image: url("/assets/images/austin-texas-state-capitol-panorama.png");
  // background-image: url("/assets/images/1024px-United_States_Capitol_Panorama.png");
  // background-image: url("/assets/images/condominiums 1457 x 278.png");
  // background-image: url("/assets/images/1024px-Austin_skyline_in_2014 - cropped.png");
  // border: 3px solid red;

  &-span {
    // position: fixed;
    // display: flex;
    // justify-content: space-between;
    // align-items: top;
    top: 5px;
  }

  &-button {

    // background-color: $color-mischka;
    background-color: lightblue;
    border-radius: 50%;
    margin-top: 5px;
  }
  &-govmeeting {
    // background-color: $color-mischka;
    background-color: lightblue;
    border-radius: 20%;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 120%;
    font-weight: bold;
  }
  &-location {
    // background-color: $color-mischka;
    margin-top: 5px;
    background-color: lightblue;
    border-radius: 20%;
    font-size: 120%;
    font-weight: bold;
  }
  &-user {
    // background-color: $color-mischka;
    margin-top: 5px;
  }

}
