@import '../common/breakpoints';
@import '../common/theme';

.mat-nav-list {
  padding-top: 0;
}
// @include breakpoint-max(600px) {
//   .fixed-topnav {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 2;
//     width: 100% !important;
//   }

// .mat-drawer-container,
// .mat-drawer {
//   padding-top: 56px;
//   padding-top: 56px;
// }

// }
