<div class="card" [ngStyle]="currentStyles">
  <div class="card__header" (click)="toggleCollapsed()">
    <div class="card__header-icon {{iconcolor}}">
      <i class="{{icon}}"></i>
    </div>

    <div class="card__header-title text-light">
      <span><strong> {{title}} </strong></span>
      <i *ngIf="collapsed" class="fa fa-angle-down custom"></i>
      <i *ngIf="!collapsed" class="fa fa-angle-up custom"></i>
    </div>

    <div></div>
  </div>

  <div class="card__content">
    <ng-content></ng-content>
  </div>
</div>
