@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  <div class="row">
    <div class="col-md-8">
      <section>
        <h4>Note to Developers</h4>
        The front-end code for handling accounts is written using ASP.NET views. It would be good to re-write this code
        in Angular, so that the user interface is consistent. If you are interested in tackling this work, please see
        <a href="https://github.com/govmeeting/govmeeting/issues/73">Github issue 73.</a>
      </section>
    </div>
  </div>

}
