@import "../../../../styles.scss";

.intro-wrapper {
  // position: relative;  // from header
  display: flex;
  flex: 1;
  flex-direction: column; // Mobile-first; break out to row on medium + screens
  align-items: center;
  justify-content: space-between;
  height: 160px;
  // height: 250px; // from heading
  padding: 12px 30px;
  background: rgba(255,255,255,.12);
  font-size: 26px;
  letter-spacing: 1px;
  // background-size: cover; // from header
  // background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1609106/lake-shadow-water.jpg"); // from header
}

// Medium screens breakpoint (1050px)
@media only screen and (min-width: 65.625em) {
  .intro-wrapper {
    flex-direction: row;
  }
}

// Mobile screen breakpoints (750px)
@media only screen and (min-width: 46.875em) {
  .intro-wrapper {
    padding: 0 30px;
  }
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 250px;
  color: $color-white;
  background-size: cover;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1609106/lake-shadow-water.jpg");
  margin-bottom: 20px;
}
