<mat-card>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'300'">
<p>
    <br /><h1> New Home Page </h1>
<p>

The current home page is temporary while the site is under construction. The future home page should contain:

    <ul>
        <li>
            <h3> Control to select language. </h3>

            The user can select to see the site in their own language.
        </li>
        <li>
            <h3> Brief project overview </h3>

            A paragraph or so and links to more information.
        </li>
        <li>
            <h3> Register and Log-in links </h3>

            These are in the top right of all pages. After logging in, the user's name is displayed here.
        </li>
        <li>
            <h3> Search area for participating entities </h3>

            Here users can see if their own local government entity is registered. They can also browse participating entities.
        </li>
        <li>
            <h3> Area to highlight new and most active. </h3>

            This includes both volunteers and government entities. It will also show statistics on site use, by region, etc.
        </li>
        <li>
            <h3> Call to action </h3>

            Links urging users to register themselves and their local government entity.
        </li>
    </ul>
  </mat-card-content>
</mat-card>
