// for debug
/*.smallCard  { border: 3px dashed red; }

 @import "../../../../styles.scss";

.smallCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: $color-white;
  transform: translateY(0);
  transition: all .3s;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 21px;
    color: #fff;
  }

  &-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    font-size: 18px;
    color: $color-java;
    margin: 0;
  }

  &-subtitle {
    margin: 2px;
    color: $color-abbey;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    cursor: pointer;
  }
}
 */

//.card  { border: 3px dashed red; }

 @import "../../../../styles.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  // z-index: 3;
  border: 2px solid $color-fiord;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: $color-fiord;
    color: $color-white;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      margin: 5px;
      font-size: 15px;
      color: #fff;
    }

    &-title {
      margin: 0 10px;
      font-size: 18px;
      letter-spacing: 1px;
    }

/*     &-link {
      font-size: 16px;
      color: $color-java;
      letter-spacing: normal;
      display: inline-block;
    }
 */
  }
}

// Card header settings icons
.settings {
  display: flex;
  margin: 8px;
  align-self: flex-start;
  background-color: $color-transparent;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    color: $color-fiord;
    font-size: 11px;

    &:not(:last-child) {
      border-right: 1px solid rgba(0,0,0,.1);
    }
  }

  &__icon {
    padding: 0px 3px;
    font-size: 12px;

    &:hover {
      background-color: rgba(255,255,255,.8);
      cursor: pointer;
    }
  }

  &:hover {
    background-color: #fff;
    cursor: pointer;
  }
}
