<div class="smallCard">
      <div class="smallCard-icon {{iconcolor}}">
        <!-- <div class="smallCard-icon" [style.background-color]="xiconcolor"> -->
        <i class={{icon}}></i>
  </div>
  <div class="smallCard-description">
      <mat-icon class="help-icon"
        matTooltip="This is the help in a overview card.">help</mat-icon>
      <h3 class="smallCard-title text-light"><strong>{{title}}</strong></h3>
    <p class="smallCard-subtitle">{{subtitle}}</p>
  </div>
</div>

<!-- <mat-icon class="help-icon" [ngStyle]="{'color':'lightblue'}" -->
