<?xml version="1.0" encoding="utf-8" ?>

<!-- This was a copy from dotnetspan.com -->

<!-- NOTE: In it's VS properties, set "Copy to Output Directory" to "Copy Always".-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="../../logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <!-- define various log targets -->
  <targets>
    <target xsi:type="File" name="allfile" fileName="${gdc:item=logfilesPath}/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}"
            archiveEvery="Day" archiveFileName="${gdc:item=logfilesPath}/nlog-${shortdate}.log" />
    
    <!--<target xsi:type="File" name="allfile" fileName="C:\ClientSites\govmeeting.org\httpdocs\nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

    <target xsi:type="File" name="ownFile-web" fileName="${gdc:item=logfilesPath}/nlog-own-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="Null" name="blackhole" />
  
    <!-- From http://www.monkeysandgorillas.com/index.php/2015/07/08/nlog-file-archiving-gotcha/ -->
        <!--<target name="allfile" xsi:type="File" fileName="${gdc:item=logfilesPath}/app.log" createDirs="true"
         layout="${longdate} ${uppercase:${level}} [${threadid}] ${logger:shortName=true} : ${message} ${exception:format=tostring}"
         archiveEvery="Day" archiveFileName="${gdc:item=logfilesPath}/${shortdate}.{#}.log" archiveNumbering="DateAndSequence"/>-->
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!-- <logger name="Microsoft.*" maxLevel="Info" final="true" />  --> <!-- This is how github nlog does it. -->
    
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>