
<!-- <gm-dashboard></gm-dashboard> -->


<p>1</p><p>2</p><p>3</p>


<div class="smallCards">


<!-- <div class="card" [ngStyle]="{'z-index': zIndex, 'height': height, 'overflow': overflow}" (click)="toggleCollapsed()"> -->
<div class="card card1">
  <div class="card__header">
    <div class="card__header-title text-light">
      <strong>Title</strong>
      <!-- <i *ngIf="collapsed" class="fa fa-angle-down custom" (click)="collapsed=false" ></i>
      <i *ngIf="!collapsed" class="fa fa-angle-up custom" (click)="collapsed=true" ></i> -->
    </div>
  </div>
  <!-- <div *ngIf="!collapsed"> -->
  <p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p>
  <!-- </div> -->
</div>

<div class="card card2">
    <div class="card__header">
      <div class="card__header-title text-light">
        <strong>Title</strong>
        <i *ngIf="collapsed" class="fa fa-angle-down custom" (click)="toggleCollapsed()" ></i>
        <i *ngIf="!collapsed" class="fa fa-angle-up custom" (click)="toggleCollapsed()" ></i>
      </div>
    </div>
    <!-- <div *ngIf="!collapsed"> -->
        <p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p>
        <!-- </div> -->
  </div>

  <div class="card card3">
      <div class="card__header">
        <div class="card__header-title text-light">
          <strong>Title</strong>
          <!-- <i *ngIf="collapsed" class="fa fa-angle-down custom" (click)="collapsed=false" ></i>
          <i *ngIf="!collapsed" class="fa fa-angle-up custom" (click)="collapsed=true" ></i> -->
        </div>
      </div>
      <!-- <div *ngIf="!collapsed"> -->
          <p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p>
          <!-- </div> -->
    </div>

    <div class="card card4">
        <div class="card__header">
          <div class="card__header-title text-light">
            <strong>Title</strong>
            <!-- <i *ngIf="collapsed" class="fa fa-angle-down custom" (click)="collapsed=false" ></i>
            <i *ngIf="!collapsed" class="fa fa-angle-up custom" (click)="collapsed=true" ></i> -->
          </div>
        </div>
        <!-- <div *ngIf="!collapsed"> -->
            <p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p>
            <!-- </div> -->
      </div>




</div>

