<!--<h1> Hello World </h1>-->

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="options.value.hasBackdrop">
  <mat-sidenav
    class="sidenav"
    #sidenav
    [mode]="options.value.mode"
    [opened]="!mediaQueryList.matches"
    [fixedInViewport]="options.value.fixed"
    [fixedTopGap]="options.value.top"
    [fixedBottomGap]="options.value.bottom"
  >
    <!-- <gm-sidenav-menu defaultLocation="Boothbay Harbor"></gm-sidenav-menu> -->
    <gm-sidenav-menu></gm-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <button (click)="sendSettings()"> Send Settings</button><br/>
    <button (click)="setLanguage()"> Set Language </button><br/>
    <button (click)="routeAbout()"> Route About </button>
    <button (click)="routeDash()"> Route Dash </button><br/> -->

    <router-outlet></router-outlet>

    <!-- <gm-fixasr></gm-fixasr> -->

    <gm-header></gm-header>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar class="main-footer">
  <gm-dash-footer></gm-dash-footer>
</mat-toolbar> -->
<!-- partial -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="../../../script.js"></script>
