<div id="wrap">

	<!-- <h1> Govmeeting </h1> -->
	
	<div id="nav">
		<navbar></navbar>
	</div>

	<div id="header">
		<gm-heading></gm-heading>
	</div>


	<div id="main">
		<gm-browse-meeting></gm-browse-meeting>
	</div>


	<!-- The sidebar contains the options for choosing a topic or a speaker.  Only what is chosen
    will be displayed in the main content. -->
	<div id="sidebar">
		<gm-topics></gm-topics>
		<gm-speakers></gm-speakers>

    Select a topic or speaker. <br>
	</div>

	<div id="footer">
		<!--<gm-footer></gm-footer>-->
	</div>
</div>
