#wrap,
html,
body {
  height: 98%;
}
body,
html {
  margin: 0;
  padding: 0;
  color: #000;        /* black text */
  background: #a7a09a;    /* gray - will be covered by inner content */
}
#wrap {            /* "wrap" wraps all the content */
  width: 750px;
  margin: 0 auto;
  background: #99c;    /* light-blue - covers the gray */
}
#header {
  padding: 5px 10px;
  background: #ddd;    /* off-white */
}
h1 {
  margin: 0;
}
#nav {
  padding: 5px 10px;
  background: #c99;
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav li {
  display: inline;  /* I removed: margin: 0; */
  padding: 0;
}
#main {            /* main content */
  float: right;
  width: 480px;
  padding: 10px;
  background: #fff;    /* was #9c9; */
  height: 90%;
  overflow: auto;
}
h2 {
  margin: 0 0 1em;
}
#sidebar {          /* sidebar content */
  float: left;
  width: 230px;
  padding: 10px;
  background: #99c;    /* light-blue - same as the wrap */
}
#footer {
  clear: both;
  padding: 5px 10px;
  background: #cc9;    /* light tan */
}
#footer p {
  margin: 0;
}
* html #footer {
  height: 1px;
}
