.head {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.subhead {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin: 10px;
}

@media only screen and (max-width: 46.875em) {
  .subhead {
    font-size: 150%;
  }
}
