<mat-card>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'300'">
<p>
  <br /><h1> Other Features </h1>
<p>

  These are some other features that will be added.

  <h2> Voice commands to fix errors </h2>

<p>
  The <a [routerLink]="['/fixasr']">Fix ASR</a> page shows a program for
  correcting errors in the generated text.
  A user needs to TYPE the corrections. This new feature would allow a user to SPEAK the corrections.
  A user would listen to the meeting and watch the scrolling generated text. At any time, they could
  SPEAK a correction.
</p>
<p>
  For example, suppose they hear "The street will be <b>paid</b> next week.". They could speak the correction
  by saying "will be <b>paved</b>". The software will use the start and/or ending words of the spoken correction
  as the "context" of the change. It this case, it would find "will be" in the immediate prior text and substitute
  the non-matching word "paved".

</p>
<p>
  "Speech recognition" is recognition of words of a single speaker. For a computer, this is much easier than conversional "voice recognition".
  The error rate for the spoken corrections should be much less than that of the original transcription.
</p>

<p>
  Users could use this method on smartphones and other mobile devices without keyboards.
</p>

<h2> Phone App to Record Meeting </h2>

<p>
  Many places neither provide transcripts, broadcasts nor recordings of their meetings. In this case, the only option
  is for someone to manually record the meeting themselves on a portable device like a smartphone.
</p>
<p>
  A user will log into the app to start a recording.
  The user will need to have already been registered with the site for some specific community.
</p>
<p>
  The app will provide just the basic recording functions: RECORD, PAUSE, RESUME.
  Editing functions should be excluded, since we want a true and complete recording of the meeting.
</p>
<p>
  When the person chooses to upload, both the recording and the information about the government body will be sent.
</p>
</mat-card-content>
</mat-card>
