.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
  font-weight: bold;
  font-size: large;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
