@import "../styles.scss";

.main-header {
  position: absolute;
  height: 100px;
  width: 100%;
  border: 1px solid red;
}

.sidenav-container {
  position: absolute;
  top: 103px;
  bottom: 60px;
  width: 100%;
  border: 1px solid green;
  // border: 1px solid yellow;
}

.sidenav-containerX {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid green;
}


.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  //background: rgba(255, 0, 0, 0.5);
  background: rgb(105, 144, 202);

  // &-button {
  //   position: relative;
  //   background-color: $color-mischka;
  //   border-radius: 50%;
  //   right: 0px;
  // }
}

.main-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  border: 1px solid red;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

// .sidenav-close {
//   border: 3px solid #73AD21;
//   position: relative;
//   right: 0;
// }

// .main-header {
//   position: fixed;
//   display: flex;
//   justify-content: space-between;
//   align-items: top;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 100px;
//   background-size: 100% 100%;
//   // background-size: cover;
//   // During development, this image comes from:
//   //     C:\GOVMEETING\_SOURCECODE\FrontEnd\ClientApp\src\assets\images
//   // During production, it comes from:
//   //     C:\GOVMEETING\_SOURCECODE\FrontEnd\ClientApp\dist\assets\images
//   // background-image: url("/assets/images/1024px-Austin_panorama_2018.png");
//   // background-image: url("/assets/images/Travis County ranches.png");
//   // background-image: url("/assets/images/austin-texas-state-capitol-panorama.png");
//   // background-image: url("/assets/images/1024px-United_States_Capitol_Panorama.png");
//   background-image: url("/assets/images/condominiums 1457 x 278.png");
//   // background-image: url("/assets/images/1024px-Austin_skyline_in_2014 - cropped.png");
//   // border: 3px solid red;

//   &-button {
//     // background-color: $color-mischka;
//     background-color: lightblue;
//     border-radius: 50%;
//   }

// }

// .is-mobile.main-header {
// //   // position: fixed;
// //   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
// //   // background: green;
// //   // z-index: 2;
//   border: 3px solid blue;
// // background-image: url("/assets/images/1024px-Austin_skyline_in_2014 - cropped.png");
// }


///////////////////////////////////////////////////////////////////

// Styles for example chart
/* #chartdiv {
  width: 100%;
  height: 300px;
  font-size: 11px;
  min-width: 0;
}
 */
