<!-- <div style="border: 3px dashed green;">this is the div</div> -->

<!-- <gm-about-project></gm-about-project> -->

<gm-dashboard></gm-dashboard>

<!-- <mat-form-field>
  <mat-label>Sidenav mode</mat-label>
  <mat-select #mode value="side" formControlName="mode">
          <mat-option value="side">Side</mat-option>
    <mat-option value="over">Over</mat-option>
    <mat-option value="push">Push</mat-option>
  </mat-select>
</mat-form-field> -->

<!-- <button (click)="toggleCollapsed()"> button </button> -->

<!-- <gm-small icon="far fa-envelope" iconcolor="color-mail-icon"
title="Messages" subtitle="+10">
</gm-small> -->

<!-- <gm-large-card  icon="far fa-calendar-check" iconcolor="color-calendar-icon" title="Issues"> -->
<!-- Recent<br/>Most active<br/>Those I am following<br/> -->
<!-- <gm-pie-chart></gm-pie-chart> -->
<!-- <gm-bar-chart></gm-bar-chart> -->

<!-- </gm-large-card> -->

<!-- <gm-sidenav-menu2></gm-da<divsh-sidenav2> -->

<!-- <gm-amguage></gm-amguage> -->

<!-- <gm-sidenav style="grid-area: sidenav;">
  <gm-sidenav-header></gm-sidenav-header>
   <gm-sidenav-menu2></gm-sidenav-menu2>
</gm-sidenav> -->



<!-- <gm-top-header >
  <gm-dash-search></gm-dash-search>
  <gm-user-dropdown></gm-user-dropdown>
</gm-top-header> -->



<!-- <gm-user-dropdown></gm-user-dropdown> -->

<!-- <gm-small-card icon="far fa-file-alt" iconcolor="color-document-icon"
  title="Proposed Bills" subtitle="City Council">
</gm-small-card> -->
