<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>

<!--When I open this file, I get the error: The element system.webServer has invalid child element aspNetCore ...
There doesn't appear to be a solution to this yet: http://stackoverflow.com/questions/37945539/the-element-system-webserver-has-invalid-child-element-aspnetcore
The problem is also repoprted to occur in new projects created from the templates.--> 