<div class="dropdown__avatar" [ngStyle]="backgroundStyle" (click)="setDropdownActive()">
  <div class="dropdown {{dropdownActive}}">
    <ul class="dropdown__list">
      <li class="dropdown__list-item" *ngIf="!isLoggedIn">
        <mat-icon class="dropdown__icon">login</mat-icon>
        <span class="dropdown__title" (click)="signin()">Log In</span>
      </li>
      <li class="dropdown__list-item" *ngIf="!isLoggedIn">
        <mat-icon class="dropdown__icon">account_circle</mat-icon>
        <span class="dropdown__title" (click)="register()">Register</span>
      </li>
      <li class="dropdown__list-item" *ngIf="isAdmin">
        <mat-icon class="dropdown__icon">admin_panel_settings</mat-icon>
        <span class="dropdown__title">Admin</span>
      </li>
      <li class="dropdown__list-item" *ngIf="isLoggedIn">
        <mat-icon class="dropdown__icon">face</mat-icon>
        <span class="dropdown__title">My Profile</span>
      </li>
      <li class="dropdown__list-item" *ngIf="isLoggedIn">
        <mat-icon class="dropdown__icon">manage_accounts</mat-icon>
        <span class="dropdown__title">My Account</span>
      </li>
      <li class="dropdown__list-item" *ngIf="isLoggedIn">
        <mat-icon class="dropdown__icon">logout</mat-icon>
        <span class="dropdown__title">Log Out</span>
      </li>
    </ul>
  </div>
</div>
