<div class="card">
  <div class="card__header"
    matTooltip={{tooltip}} matTooltipClass="headertip">

    <!-- <div class="card__header-title text-light">Your <strong>Events</strong> -->
        <div class="card__header-icon {{iconcolor}}">
      <i class={{icon}}></i>
    </div>
    <div class="card__header-title text-light"><strong>{{title}} </strong>
      <i *ngIf="!example.expanded" class="fa fa-angle-down custom" (click)="example.open()" ></i>
      <i *ngIf="example.expanded" class="fa fa-angle-up custom" (click)="example.close()"  ></i>
      <!-- <a href="#" class="card__header-link text-bold">View All</a> -->
    </div>

    <!-- <div *ngIf="!example.expanded">Expand</div>
    <div *ngIf="example.expanded">Collapse</div> -->

    <!-- <button md-raised-button (click)="example.open()"> Open </button> -->

    <!-- <mat-icon *ngIf="!example.expanded" (click)="example.open()">arrow_downward</mat-icon>
    <mat-icon *ngIf="example.expanded" (click)="example.close()">arrow_upward</mat-icon> -->

     <mat-icon class="help-icon"
        matTooltip={{tooltip}} matTooltipClass="tooltip">help</mat-icon>

  <!-- <div class="settings">
      <div class="settings__block"><i class="fas fa-edit"></i></div>
      <div class="settings__block"><i class="fas fa-cog"></i></div>
    </div> -->

  </div>
  <div>

  <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false" #example>


    <ng-content></ng-content>

  </mat-expansion-panel>

  </div>
</div>
