[ This component needs to be written. ]
<p>
  This component will allow users to manage alerts.
</p>
Users can determine the criteria for alerts:
<ul>
  <li>Choose from present and past issues.</li>
  <li>Choose references to pending legislation.</li>
  <li>Choose comments from officials whom they are interested in.</li>
  <li>Choose from general categories of issues/laws.</li>
  <li>Set up combinations of criteria.</li>
</ul>
Users can choose how to receive alerts:
<ul>
  <li>Via email or text</li>
  <li>Set a schedule for when they should be sent</li>
</ul>
Users can see information about past alerts:
<ul>
  <li>See a list of past alerts received.</li>
  <li>Click on a past alert and see the content.</li>
</ul>
Users can see an overview of all existing alerts:
<ul>
  <li>See statistics on reasons for alerts.</li>
  <li>See the information in graphical form.</li>
</ul>
