<p>
    <br /><h1> Server Components </h1>
<p>

<p>The pages on this site only demo components that run in the browser on the front end.
    They don't demo the components that run in the backend on the server.
    </p>

<p> Some of these components run on scheduled times. Others runs as a result of actions on the front end. </p>

<ul>
    <li> Handle user registration and login. </li>
    <li> Handle registration of a government entity. </li>
    <li> Watch a URL for new meeting transripts or recordings to be posted. </li>
    <li> Retrieve new new meeting transripts or recordings. </li>
    <li> Convert transcipts in other formats (EG: PDF) to text files. </li>
    <li> Extract information from transcripts like speaker and section names. </li>
    <li> Re-format transcripts into a common format. </li>
    <li> Convert video recordings into a common format. </li>
    <li> Extra the audio from the video recording. Merge stereo channels into one mono channel. </li>
    <li> Call the Google Auto Speech Recognition API to convert the audio to text. </li>
    <li> Split the video into segments that will be served to users for correction of ASR text. </li>
    <li> Put the transcripts into a JSON format. </li>
    <li> Populate the database with the data extracted from the final corrected and tagged transcripts. </li>
    <li> Watch for database changes and alert users who have signed up for alerts. </li>
</ul>


