/*
.mymd-button {
  padding: 0 6px 0 6px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}
*/

.subhead {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin: 10px;
}

@media only screen and (max-width: 46.875em) {
  .subhead {
    font-size: 150%;
  }
}

.edit-region {
  display: flex;
}

.scroll-text {
  /* flex: 2; */
  /* flex: initial; */
  height: 405px;
  /* width: 310px; */
  /* width: 30px; */
  overflow-y: auto;
  overflow-x: hidden;
}

/* .scroll-text input {
  width: 310px;
  width: 400px;
} */

.controls-and-help {
  flex: 1;
}

/* .edit-controls {
  flex: 1;
} */

/* .edit-help {
    margin: 10px 10px 0 10px;
} */

.edit-help {
  border: 2px solid red;
  padding: 4px;
}

.mode-button {
  margin: 10px 20px 0 20px;
}

.play-button {
  margin: 5px 5px 0 5px;
}

.save-button {
  margin: 5px 5px 0 5px;
}

.show-help-button {
  margin: 5px 10px 0 10px;
}

.speaker-input {
  margin: 10px 10px 0 10px;
}

/*
http://stackoverflow.com/questions/29108922/angular-material-how-to-make-content-scrollable?rq=1
http://stackoverflow.com/questions/36906782/how-to-make-md-content-scrollable-in-angular-material-design
*/
