<h2> Speech Recognition</h2>

<p> The more accurate the speech recognition, the less manual proofreading must be done.
   The software use the Google Speech API. Multi-speaker conversational speech is challanging.
    But the accuracy of the engine keeps improving.
</p>
   <p>There are ways that we can improve the accuracy. </p>
   <ul>
    <li>
      We do not need to transcribe in real time. We can pre-process the audo to clirify it, remove extraneous sounds, etc.
    </li>
    <li>
      There are a number of techniques that Google provides to increase accuracy:
      speech adaptation, custom dictionaries, phrase collections, etc.
    </li>
  </ul>
