<p>
  <br /><h1> Add topic & section tags </h1>
<p>

  <style>
    .edit-help {
      border: 2px solid red;
      padding: 4px;
    }
  </style>

<br /> <button md-raised-button class="show-help-button" (click)="ToggleHelp()"> {{showhidehelp}} Help </button>
<div class="edit-help" [hidden]="!CheckShowHelp()" (click)="ToggleHelp()">
  Step 3 is to assign "tags" to parts of the meeting:
  <ul>
    <li>
      SECTION TAGS: Read Minutes, Introduce Bills, Public Comment, etc.
    </li>
    <li>
      TOPIC TAGS: "Pave Main St.", "Hire policemen", "Parking fees", etc.
    </li>
  </ul>
   To add a topic tag:
  <ul>
    <li> Highlight a text phrase to use it as the topic. </li>
    <li> Or select a topic name from recent past toics. </li>
    <li> Click up/down arrows to move tag.</li>
  </ul>
  Section tags:
  <ul>
    <li> Pre-processing attempts to assign these. </li>
    <li> Click up/down arrows to move if incorect.</li>
  </ul>
</div>

<br> <gm-talks></gm-talks>
