<p>
  <br /><h1> Existing Transcripts </h1>
<p>

<p>
  Larger cities may make transcripts available.
  But it is often not user friendly.
  For example, here is a page from a recent Philadelphia, PA, USA transcript.
  The transcript is 154 pages of double-spaced lines, 10-words-per-line, with no table of contents and no links.
  Note also that, since it is a PDF file, it is not usable on mobile devices.
  The text will not flow if it is resized. It will either be too small to read, or you will 
  need to scroll back-and-forth on every line.
  Below the transcript is its index.
</p>
<p>
  The format of the information is more fitting for use by a legal researcher, working for a law firm.
  It is not designed for normal non-professionals.
</p>

<img src="Philly transcript page.png" width="800" alt="Philadelphia transcript page">

<img src="Philly transcript index.png" width="800" alt="Philadelphia transcript index">







