<p>
  <br /><h1> Register Government Entity </h1>
<p>
<p>
  This page will be for registering a government entity to take part in Govmeeting.
  It is not mandatory that one register only their own government entity.
  But it is expected that the person doing the registration be one
  of the volunteers participating in fixing or adding tags to the transcript text.
  Therefore it should be someone who has a stake in the  process.
</p>
<p>
  Below is the information that needs to be captured.
</p>

<h3> Location of Entity </h3>
<p>
  The location could include these items:
</p>
<ul>
  <li> Country </li>
  <li> State (or Province, etc) - the 2nd level political division </li>
  <li> County (or District, etc) - the 3nd level political division </li>
  <li> Municipality (or Town, etc) 4th and lower level political divisions </li>
</ul>

<h3> Name of Entity </h3>
<p>
  The name of the government entity could be, for example: Senate, Assembly, City Council, Board of Freeholders (using USA divisions).
  The registration could be for an entity at any level of political divison. For example, it could be for:
</p>
<ol>
  <li> USA, <b>Senate</b></li>
  <li> USA, New Jersey, <b>State Assembly</b> </li>
  <li> USA, New Jersey, Passaic County, <b>Board of Freeholders</b> </li>
  <li> USA, New Jersey, Somerset County, Bound Brook. <b>Borough Council</b> </li>
</ol>
<p>
  Therefore, one or more of the political divisions may be not applicable and would be absent.
</p>

<h3> Names of Officers </h3>
<p>
  These are the names of the officer on the government body.
  They includes anyone who normally speaks at a meeting.
  For example, they could be:
</p>
<ul>
  <li> Senators </li>
  <li> Representatives </li>
  <li> Council Members </li>
  <li> Selectmen </li>
  <li> Town Manager </li>
  <li> Town Clerk </li>
</ul>
<p>
  These names are needed for two reasons:
</p>
<ul>
  <li>
    As "hints" to the voice recognition software. There is a high error rate in recognizing proper names.
    The Google API allows us to supply a list of "hints". When it is not sure of a word or pharse, it will consult this list.
  </li>
  <li> For the speaker combo box. When a volunteer needs to mark a change in speaker, they will be able to select from this list. </li>
</ul>
<h3> Online Recordings and Transcripts </h3>
<p>
  We want to capture the following kinds of information:
</p>
<ul>
  <li> The online locations (URLs) of existing recordings and transcipts. </li>
  <li> Optionally, a description of steps needed to access the information. </li>
</ul>
<p>
  The goal is for Govmeeting to automatically poll for and retrieve new recordings and transcripts.
  This is fairly easy if the recording resides on a system like Youtube.
  It can automatically search for the latest file with a similar title to the samples.
</p>
<p>
  However, the download process can involve a number of steps.
  In the beginning stages of this project, we have two options:
</p>
<ul>
  <li> Require that a volunteer upload the recording or transcript to Govmeeting. </li>
  <li>
    Write some custom programming for each new registrations to mimic the user steps and download the files.
  </li>
</ul>
<p>
  The ultimate goal is to be able to do this automatically without custom programming.
  We need to look into way that we can capture the steps and create a process that can modify and replay them.
</p>








