<p>
  <br /><h1> Search Meetings </h1>
<p>

<p>
  After the meeting information is in a relational database, it can be used in many ways.
</p>

<h3> Search for information </h3>
<p></p>
<ul>
  <li> Search all past meetings for discussion on a specific issues. </li>
  <li> Search for everthing that a specific official said on an issue. </li>
  <li> Search for when specific bills were either discussed or acted upon. </li>
  <li> Search for anything on a specific type of issue (public safety, zoning, etc) </li>
</ul>

<h3> Browse information </h3>
<p>  </p>
<ul>
  <li> Browse all topics discussed in the past year. </li>
  <li> See which officials attended each of the past meetings. </li>
  <li> See what legislation was voted on and what the votes were. </li>
  <li> Browse all public commentary on specific issues. </li>
</ul>

<h3> Set alerts </h3>
<p> You can sign up for alerts, via email or text messages. For example an alert can be sent: </p>
<ul>
  <li>  when any specific issue is discussed at a meeting. </li>
  <li>  when a there is discussion in any category of issues (Recreation, Zoning, Animal Control, etc). </li>
  <li>  when any new legislature is proposed. </li>
  <li>  whenever any search criteria that you set up returns results in the future. </li>
</ul>

<h3> Comparisons with other communities </h3>
<p>  </p>
<ul>
  <li> Compare types of issues that are discussed. </li>
  <li> Compare how similar issues are handled. </li>
  <li> Compare meeting structures and time allotment. </li>
  <li> Compare procedures for public comment.  </li>
</ul>

