<p>
  <br /><h1> Server Processing </h1>
<p>

<p>
  Step 1 is to retrieve and process existing recording and transcripts.
</p>

<h3> Process Video recordings </h3>

<p> The following processing occurs for video recording of meetings.  [An asterisk * means code is written for this.]</p>
<ul>
  <li> Retrieve new recordings as they become available. </li>
  <li> Convert to the primary web video formats (mp4, ogg and webm). </li>
  <li> Extract and merge the audio tracks. * </li>
  <li> Uploaded the audio file to the Google cloud. * </li>
  <li> Call the Google Speech API to do auto voice recognition. * </li>
  <li> Split the video, audio and trancript files into 3 minute work segments. * </li>
  <li> Serve the work segments to the second step - Correcting errors. * </li>
</ul>

<h3> Process Existing Transcripts </h3>

<p>
  Some large cities make transcripts available.  But they are often not user friendly.
  Click below to see a sample page from a Philadelphia, PA, USA transcript.
  It is 154 pages of double-spaced lines, 10-words-per-line. It is in PDF format,
  which makes it unusable on a small screen like a smartphone.
  <button (click)="ToggleTranscript()"> {{showhidetranscript}} Sample Transcript </button>
</p>
<img [hidden]="!CheckShowTranscript()" (click)="ToggleTranscript()" src="Philly transcript page.png" width="900" alt="Philadelphia transcript page">

<p>
  Finding information is difficult. There is no table of contents. Click below to see a sample page of the index.
  It is meant more for a legal researcher than the average person.
  <button (click)="ToggleIndex()"> {{showhideindex}} Sample Index </button>
</p>
<img [hidden]="!CheckShowIndex()" (click)="ToggleIndex()" src="Philly transcript index.png" width="900" alt="Philadelphia transcript index">

<p> These transcripts need to be processed as follows. </p>
<ul>
  <li> Convert the transcipts from other formats (EG: PDF) into text files. * </li>
  <li> Extract information such as speaker and section names. * (partially)</li>
  <li> Put the information into a JSON format for further processing. </li>

</ul>

<h3> Post processing </h3>

<p> Whether the original information came from a recording or an exisiting transcript, the following post processing occurs. </p>
<ul>
  <li> Transform the data into an object representation that is used to populate a database. </li>
  <li> Provide a variety of ways to search, access and display the information. </li>
  <li> Accept personal search requests that it will store for a user and run against future data that it adds to the database. </li>
  <li> Alert users when their personal search requests yield results on new data. </li>
</ul>


