<div class='main-nav'>
    <div class='navbar navbar-inverse'>
      <div class='navbar-header'>
        <button type="button" class='navbar-toggle' (click)="isCollapsed = !isCollapsed">
          <!--<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>-->
          <!--<button type="button" class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed">-->
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
          <a class='navbar-brand' [routerLink]="['/home']">Govmeeting</a>
</div>
        <div class='clearfix'></div>
        <!--<div class='navbar-collapse collapse'>-->
          <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class='nav navbar-nav'>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/homedemo']">
                  <span class='glyphicon glyphicon-home'></span> Home
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/about']">
                  <span class='glyphicon glyphicon-question-sign '></span> About
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/serverdemo']">
                  <span class='glyphicon glyphicon-cloud'></span> 1. Pre-Processing
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/fixasr']">
                  <span class='glyphicon glyphicon-edit '></span> 2. Fix ASR *
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/addtags']">
                  <span class='glyphicon glyphicon-flag '></span> 3. Add Tags *
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/viewmeeting']">
                  <span class='glyphicon glyphicon-blackboard '></span> 4. View Meeting *
                </a>
              </li>

              <!--<li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/postprocess']">
                  <span class='glyphicon glyphicon-eye-open '></span> 5. Post-Processing
                </a>
              </li>-->

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/search']">
                  <span class='glyphicon glyphicon-eye-open '></span> 5. Search Meetings
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/home']">
                  <span class='glyphicon glyphicon-home'></span> New Home page
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/volunteer']">
                  <span class='glyphicon glyphicon-gift'></span> Volunteer Page
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/registergov']">
                  <span class='glyphicon glyphicon-registration-mark'></span> Register Entity
                </a>
              </li>

              <li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/otherfeatures']">
                  <span class='glyphicon glyphicon-education'></span> Other Features
                </a>
              </li>
              <!--<li (click)="isCollapsed = true" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/test']">
                  <span class='glyphicon glyphicon-education'></span> Test Area
                </a>
              </li>-->
            </ul>
          </div>
        </div>
</div>
