<p>
    <br /><h1>Fix Auto Speech Recognition </h1>
<p>
<div>
  <gm-video></gm-video>
  <!--<img src="Mr-T-mrt-36834265-320-254.png">-->

  <div class="edit-region">

    <div id="scroll-text" class="scroll-text">
      <div *ngFor="let a of asrsegments; let i = index">
        <input #myInput type="text" [(ngModel)]="a.said" (mouseup)="onMouseup($event, i)"
                 (focus)="onFocus($event, i)" (keyup)="onKey($event, i)" (keydown)="onKeyDown($event, i)" />
      </div>
    </div>

    <div class="controls-and-help">
      <div class="edit-controls">
          <button md-raised-button class="mode-button" color="primary" (click)="toggleInsertMode()">MODE ({{modeButtonText}})</button>
          <button md-raised-button class="play-button" color="primary" (click)="playPhrase()">PLAY </button>
          <button md-raised-button class="save-button" color="primary" (click)="saveChanges()">SAVE</button>
      </div>

      <p *ngIf="isSpeakerSelectVisible" class="speaker-input">
              <label> Speaker </label>
              <gm-dropdown [values]="speakers" (selectSpeaker)="selectSpeaker($event)" (addSpeaker)="addSpeaker($event)"></gm-dropdown>
      </p>

      <style>
        .edit-help {
          border: 2px solid red;
          padding: 4px;
        }
      </style>

      <br /> <button md-raised-button class="show-help-button" (click)="ToggleHelp()"> {{showhidehelp}} Help </button>
      <div class="edit-help" [hidden]="!CheckShowHelp()" (click)="ToggleHelp()" >
        <p>
          Machine speech recognition does not yet produce error free text.
          This is expecially true for conversational speech.
          Step 2 is to fix errors in generated text and mark each start of a new speaker.
          The text is split into small work segments for multiple volunteers.
          There are two edit modes.
        </p>
          <ul>
            <li> INSERT: Text is inserted at cursor. </li>
            <li> REPLACE: Click to highlight a word. Type to replace or hit space to delete. </li>
        </ul>
        Press "PLAY" (or 'enter') to play recording at cursor.<br />
        Select or enter new speaker at cursor position.
      </div>

         <!--For testing
         <button (click)="getpos()"> GETPOS </button> pos={{lastedit}}
         <button (click)="setpos()"> SETPOS </button>-->

         <!--{{asrtext.lastedit}}   Why does it think asrtext is null? -->

    </div>
  </div>
</div>
