<style>
  .nopadding {
     padding: 0;
     /* margin: 0; */
  }

  .tinypadding {
     padding: 1px;
     /* margin: 1; */
  }
    .edit-help {
      border: 2px solid red;
      padding: 4px;
    }
  </style>

<p>
    <br /><h1> View meeting </h1>
<p>

<br /> <button md-raised-button class="show-help-button" (click)="ToggleHelp()"> {{showhidehelp}} Help </button>
       <div class="edit-help" [hidden]="!CheckShowHelp()" (click)="ToggleHelp()">
         This is a first try at a component to display the meeting.
         <ul>
           <li> Click on a topic and see only what was said about that topic. </li>
           <li> Click on a speaker name and see only what that person said. </li>
         </ul>
         To be more useful, it should 
         <ul>
           <li> Display  surrounding context to what a speaker said.</li>
           <li> Have options for both topic and section. </li>
         </ul>
       </div>

    <div id="wrap" class="row">
        <!-- <div class="col-sm-12"> -->

        <div class="row">
            <!-- <div class="col-sm-12" style="padding:1px"> -->
            <div id="header" style="background:#ddd">
                <gm-heading></gm-heading>
            </div>
            <!-- </div> -->
        </div>

        <!-- The sidebar contains the options for choosing a topic or a speaker.  Only what is chosen
        will be displayed in the main content. -->
        <div style="padding:10px">
            <!-- <div class="col-md-12 col-sm-3 col-xs-6" style="padding:1px"> -->
            <div id="sidebar">
                <!-- [Select topic/speaker] <br><br> -->
                <gm-topics></gm-topics> <br>
                <gm-speakers></gm-speakers>
            </div>
        </div>
    </div>

    <div class="row gutter-0.row">
        <!-- <div class="col-md-12 col-sm-9 col-xs-6"> -->
        <div id="main" style="background:#fff;padding:1px">
            <!-- <button (click)="postMeeting()">Post Meeting</button> -->
            <gm-browse></gm-browse>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
