<div class="card">
  <div class="card__header" (click)="togglePanel()">
    <div class="card__header-icon {{iconcolor}}">
      <!-- <i class="{{icon}}"></i> -->
      <!-- <mat-icon class="routeIcon">{{item.iconName}}</mat-icon> -->
      <mat-icon class="routeIcon">{{icon}}</mat-icon>
    </div>

    <div class="card__header-title text-light">
      <span><strong>{{title}} </strong></span>
      <mat-icon *ngIf="!panelOpenState" class="expandIcon">expand_more</mat-icon>
      <mat-icon *ngIf="panelOpenState" class="expandIcon">expand_less</mat-icon>
    </div>

    <div></div>
  </div>

  <div>
    <mat-expansion-panel [expanded]="panelOpenState">
      <ng-content></ng-content>
    </mat-expansion-panel>
  </div>
</div>
