<!-- The following is part of an experiment with angular mataerial - also see index.html and app.component.css.
    <div class="call-out">
        <h4>Feature 3</h4>
        <p>Presently they  fell  asleep  for  a  little  while.  When
            Winston  woke  up  the  hands  of  the clock had crept round to
            nearly nine. He did not stir, because Julia was  sleeping  with
            her  head  in  the  crook  of  his arm.</p>
    </div>
-->

    <input type="text" style="width: 600px;" />

    <div class="container-fluid">
        <div class="hide-webapp">
            <div class="row">
                <div class="col-sm-12">
                    <!--<div id="nav">-->
                    <sd-toolbar></sd-toolbar>
                    <!--</div>-->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <!--<div id="nav">-->
                    <sd-navbar></sd-navbar>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
