@import "../../../styles.scss";

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-catskill-white;

  &__menu {
    position: fixed; // Needs to stay visible for all mobile scrolling
    padding: 13px;
    left: 12px;
    background-color: $color-mischka;
    border-radius: 50%;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }
}

// Mobile screen breakpoints (750px)
@media only screen and (min-width: 46.875em) {
  .header {
    &__menu {
      display: none;
    }
  }
}
