<div class="container">
  <h4>Travis County - Government<br/> [Wikipedia]</h4>
  <p>
    Like other Texas counties, Travis County is governed by a Commissioners' Court composed of the county judge and four county commissioners. The court levies county taxes and sets the budgets for county officials and agencies. The judge and commissioners are elected for four-year terms (the judge at-large, and the commissioners from geographic precincts). The other major county-wide official is the county clerk, who maintains the county's records, administers elections, and oversees legal documentation (such as property deeds, marriage licenses and assumed name certificates). The clerk is also elected at-large for a four-year term.
  </p>
  <p>
The Heman Marion Sweatt Travis County Courthouse is located in downtown Austin. The county courthouse holds civil and criminal trial courts and other functions of county government. As of 2017, the county's probate courts are in the process of being moved from the county courthouse into Austin's 1936 United States Courthouse, which was acquired by the county in 2016.[19]
 </p>
</div>
