<div  class="subhead">
  New Registered Locations  <br />
</div>
<table>
  <tr style="font-weight: bold"><td>Location</td>  <td>Region</td>  <td>Country</td></tr>
  <tr><td>Bundaberg</td>  <td>Queensland</td>  <td>Australia</td></tr>
  <tr><td>Alimosho</td>  <td>Lagos State</td>  <td>Nigeria</td></tr>
  <tr><td>Pitești</td>  <td>Muntenia</td>  <td>Romania</td></tr>
  <tr><td>Filadelfia</td>  <td>Chaco</td>  <td>Paraguay</td></tr>
  <tr><td>Astana</td>  <td>Aqmola</td>  <td>Kazakhstan</td></tr>
  <tr><td>Xuchang</td>  <td>Henan</td>  <td>China</td></tr>
</table>
The above is demo data (plus wishful thinking) since the system is not yet live.
Other news items that may be here are:
<ul>
  <li>
    Transcripts and recordings processed in past week
  </li>
  <li>
    Most active community members
  </li>
  <li>
    New system features added
  </li>
</ul>
