<!-- The following is part of an experiment with angular mataerial - also see index.html and app.component.css.
    <div class="call-out">
        <h4>Feature 3</h4>
        <p>Presently they  fell  asleep  for  a  little  while.  When
            Winston  woke  up  the  hands  of  the clock had crept round to
            nearly nine. He did not stir, because Julia was  sleeping  with
            her  head  in  the  crook  of  his arm.</p>
    </div>
-->
<!-- Experiment with ng2-material-dropdown
    <ng2-dropdown>
        <ng2-dropdown-button>
            Open Menu
        </ng2-dropdown-button>
        <ng2-dropdown-menu>
            <ng2-menu-item *ngFor="let page of pages">
                <span style="width:20px;height:20px;background-color:#ffcc00;"> {{ page }} </span>
            </ng2-menu-item>

            <div class='ng2-menu-divider'></div>

            <ng2-menu-item>
                With Divider
            </ng2-menu-item>
        </ng2-dropdown-menu>
    </ng2-dropdown>
-->
<!--<div class="container-fluid">
  <div class="hide-webapp">
      <div class="row fixed-l">
          <div class="col-sm-12">
              <gm-navbar></gm-navbar>
          </div>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>-->

<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <gm-navbar></gm-navbar>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed"> </div>



