@import '../../colors.scss';

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  // align-items: top;
  align-items: flex-start;
  top: 5px;
  // top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-size: 100% 100%;

  &-span {
    // position: fixed;
    // display: flex;
    // justify-content: space-between;
    // align-items: top;
    top: 5px;
  }

  &-button {
    background-color: $color-header-items;
    //background-color: lightblue;
    border-radius: 50%;
    margin-top: 5px;
  }
  &-govmeeting {
    // background-color: $color-mischka;
    background-color: $color-header-items;
    // background-color: lightblue;
    border-radius: 20%;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 120%;
    font-weight: bold;
  }
  &-location {
    // background-color: $color-mischka;
    background-color: $color-header-items;
    margin-top: 5px;
    // background-color: lightblue;
    border-radius: 20%;
    font-size: 120%;
    font-weight: bold;
  }
  &-user {
    // background-color: $color-mischka;
    margin-top: 5px;
  }
}
