<div [hidden]="location" class="subhead">(Select Location) <br /><br /></div>

<ng-template #notShow>
  <div class="subhead">
    (Select Location) <br />
    <br />
    .
  </div>
</ng-template>

<span *ngIf="location == 'Boothbay Harbor'; else ShowCounty">
  <div class="subhead">BBH Meetings</div>

  <table style="width: 100%;">
    <tr>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>2-12-20</td>
      <td class="fakelink">Planning Board</td>
    </tr>
    <tr>
      <td>2-10-20</td>
      <td class="fakelink">Board of Selectmens</td>
    </tr>
    <tr>
      <td>1-27-20</td>
      <td class="fakelink">Board of Selectmen</td>
    </tr>
    <tr>
      <td>1-13-20</td>
      <td class="fakelink">Board of Selectmen</td>
    </tr>
    <tr>
      <td>12-23-19</td>
      <td class="fakelink">Board of Selectmen</td>
    </tr>
    <tr>
      <td>12-9-19</td>
      <td class="fakelink">Board of Selectmen</td>
    </tr>
    <tr>
      <td>11-25-19</td>
      <td class="fakelink">Board of Selectmen</td>
    </tr>
  </table>
</span>

<ng-template #ShowCounty>
  <span *ngIf="location == 'Lincoln County'; else notShow">
    <div class="subhead">Lincoln Cty. Meetings</div>

    <table style="width: 100%;">
      <tr>
        <th>Date</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>2-4-20</td>
        <td class="fakelink">Commissioners</td>
      </tr>
      <tr>
        <td>1-21-20</td>
        <td class="fakelink">Commissioners</td>
      </tr>
      <tr>
        <td>1-7-20</td>
        <td class="fakelink">Commissioners</td>
      </tr>
      <tr>
        <td>12-17-19</td>
        <td class="fakelink">Commissioners</td>
      </tr>
      <tr>
        <td>12-4-19</td>
        <td class="fakelink">Commissioners</td>
      </tr>
    </table>
  </span>
</ng-template>

<div class="subhead">NOTE</div>

Users will be able to click a meeting link to go to an easily browsable and searchable transcript of that meeting.
