[ This component needs to be written. ]
<p>
  This component will display a list of meetings for which manual processing is needed. This includes proofreading
  transcribed text or assigning issue tags.
</p>
<p>
  After a meeting is transcribed by Google Speach API, the video and matching text is split into short work segments.
  Different volunteers can then work simultaneously on proofreading the same meeting.
</p>
<p>
  A list of the work items and their status will be displayed: "To be done", "In progress" or "Completed". Volunteers
  will be able to select a item to work on.
</p>
