@model ConfirmEmailPromptViewModel
@{
    ViewData["Title"] = "Confirm Email";
}

<!-- Govmeeting: This file is new and is used to accept password when user confirms email. -->

<h4>Please confirm your email and for security enter your password. You will be automatically signed in.</h4>

<form asp-controller="Account" asp-action="ConfirmEmail" method="post" class="form-horizontal" role="form">
    <!--<h4>Confirm Email.</h4>-->
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" value=@ViewData["userId"] name="userId" />
    <input type="hidden" value=@ViewData["code"] name="code" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

