@{
    // I commented out the following line because of this browser error:
    //InvalidOperationException: The layout view '~/Views/Layout/LoginPage.cshtml' could not be located. The following locations were searched:
    //~/ Views / Layout / LoginPage.cshtml

    //Layout = "~/Views/Layout/LoginPage.cshtml";

    ViewBag.Title = "Confirm Email: Error";
}
<div class="login-form-outer">
    <h4>Confirmation Failed</h4>
    <p>
        We could not confirm your account.
    </p>
</div>