@{
  ViewData["Title"] = "Home Page";
}


@*The upgrade to Angular5 instructions asked for this change to the app-root element.
  http://www.talkingdotnet.com/upgrade-angular-4-app-angular-5-visual-studio-2017/*@
@*<app-root asp-prerender-module="ClientApp/dist/main-server">Loading...</app-root>*@

@*This was the one being used before switch to new spa template*@ 
@*<app-root>Loading...</app-root>*@

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
  <script src="~/dist/main-client.js" asp-append-version="true"></script>
}

<!-- This was from before switching to SPATemplates
<div class="row">
    <div class="col-xs-12">
        <app-root>
            Loading product application…
        </app-root>
    </div>
</div>
--->
@*Code from ASP.NET Identity 3 for ASP.NET CORE - Brock Allen
  Note that "User" is automatically available. This is the UserManager.*@
<!--
<h1>Claims</h1>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
-->
<!--
<markdown>
# First level header

## Second level header

normal text

## level 3
</markdown>
-->
<!-- This was from before switching to SPATemplates
<script type="text/javascript" src="ba/last-build/inline.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="ba/last-build/polyfills.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="ba/last-build/styles.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="ba/last-build/vendor.bundle.js"></script>
    <script type="text/javascript" src="ba/last-build/main.bundle.js" asp-append-version="true"></script>
-->
