
<ng-container>

    <!-- <gm-top-header style="grid-area: header;">
        <gm-user-dropdown></gm-user-dropdown>
    </gm-top-header> -->

    <mat-toolbar class="example-header">
        <button mat-icon-button class="example-header-button" (click)="sidenav.toggle()">
            <!-- <mat-icon fontSet="material-icons-outlined">menu_outline</mat-icon> -->
            <mat-icon>menu</mat-icon>
        </button>
        <gm-user-dropdown></gm-user-dropdown>
    </mat-toolbar>

  <mat-sidenav-container class="example-container" [hasBackdrop]="options.value.hasBackdrop">

    <mat-sidenav #sidenav [mode]="options.value.mode" opened class="example-sidenav"
                  [fixedInViewport]="options.value.fixed"
                  [fixedTopGap]="options.value.top"
                  [fixedBottomGap]="options.value.bottom">

      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
      <gm-sidenav-menu4></gm-sidenav-menu4>

    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">

        <!-- <mat-form-field>
            <mat-label>Sidenav mode</mat-label>
                <mat-select #mode value="side" [(value)]="options.value.mode">
                    <mat-option value="side">Side</mat-option>
              <mat-option value="over">Over</mat-option>
              <mat-option value="push">Push</mat-option>
            </mat-select>
          </mat-form-field> -->

      <!-- dashboard.debug-sidenav.html -->

        <router-outlet></router-outlet>
        <!-- <gm-about-project></gm-about-project> -->
        <!-- <gm-main-content></gm-main-content> -->


    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>



<!-- <gm-sidenav style="grid-area: sidenav;"> -->
      <!-- <gm-sidenav-header></gm-sidenav-header> -->

       <!-- <gm-sidenav-menu4></gm-sidenav-menu4> -->

    <!-- </gm-sidenav> -->


<!--
    <gm-main-header style="grid-area: header;">
      <gm-top-header >
        <gm-user-dropdown></gm-user-dropdown>
      </gm-top-header>
    </gm-main-header>

<div class="grid">

  <gm-dash-main style="grid-area: main;">

    <div style="display: flex; flex-direction: column;">

      <div fxLayoutAlign="start start"></div>

      <router-outlet></router-outlet>

    </div>

  </gm-dash-main>

  <gm-dash-footer style="grid-area: footer;"></gm-dash-footer>

</div>
-->

<!-- partial -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src='https://www.amcharts.com/lib/3/amcharts.js'></script>
<script src='https://www.amcharts.com/lib/3/serial.js'></script>
<script src='https://www.amcharts.com/lib/3/themes/light.js'></script>
<script  src="../../../script.js"></script>
