<div class="grid">

   <gm-sidenav style="grid-area: sidenav;">
      <gm-sidenav-header></gm-sidenav-header>
       <gm-sidenav-menu4></gm-sidenav-menu4>
    </gm-sidenav>


    <gm-main-header style="grid-area: header;">
      <gm-top-header >
        <gm-user-dropdown></gm-user-dropdown>
      </gm-top-header>

    </gm-main-header>

  <gm-dash-main style="grid-area: main;">


    <div style="display: flex; flex-direction: column;">

      <div fxLayoutAlign="start start"></div> <!-- ?????????? -->

      <router-outlet></router-outlet>

    </div>

  </gm-dash-main>

  <gm-dash-footer style="grid-area: footer;"></gm-dash-footer>

</div>

<!-- partial -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src='https://www.amcharts.com/lib/3/amcharts.js'></script>
<script src='https://www.amcharts.com/lib/3/serial.js'></script>
<script src='https://www.amcharts.com/lib/3/themes/light.js'></script>
<script  src="../../../script.js"></script>
