
@import "../../styles.scss";

.example-container {
  position: absolute;
  top: 100px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  //background: rgba(255, 0, 0, 0.5);
  background: rgb(105, 144, 202);
}

.example-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: top;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-size: 100% 100%;
  // background-size: cover;
  background-image: url("/assets/images/1024px-Austin_panorama_2018.png");

  &-button {
    background-color: $color-mischka;
    border-radius: 50%;
  }

}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

// mat-option {
//   width: 80px
// }







.main  { border: 3px dashed blue }

@import "../../styles.scss";

$height-header: 150px;
$height-footer: 50px;
$width-sidenav: 240px;

///////////////////////// GRID ////////////////////////////////////

//  Dashboard layout on mobile
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 100%; // Charts responsiveness won't work with fr units
  grid-template-rows: $height-header 1fr $height-footer;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
  // overflow-x: hidden; // Prevent overflow scroll from hidden sidenav  (needed?)

  // &--noscroll {        // (needed?)
  //   overflow-y: hidden;
  // }
}

// Show sidenav on medium screens and above
@media only screen and (min-width: 46.875em) {
  .grid {
    display: grid;
    grid-template-columns: $width-sidenav calc(100% - 240px); // Charts responsiveness won't work with fr units
    grid-template-rows: $height-header 1fr $height-footer;
    grid-template-areas:
      'sidenav header'
      'sidenav main'
      'sidenav footer';
    height: 100vh;
  }
}

///////////////////////////////////////////////////////////////////

// Styles for example chart
/* #chartdiv {
  width: 100%;
  height: 300px;
  font-size: 11px;
  min-width: 0;
}
 */
