<ng-template #notShow>
  <div class="subhead">
    (Select Location) <br />
    <br />
    .
  </div>
</ng-template>

<span *ngIf="location == 'Boothbay Harbor'; else notShow">
  <div class="subhead">Subdivision Ordinance</div>
  "If the proposed subdivision is located on a lake, pond, river, saltwater body or stream, a portion of the waterfront
  area shall be included in reserved land. If the dimension along the waterfront shall be a minimum of 200 feet, ..."
  <div class="fakelink">Selectmen's Meeting 01/27/2020</div>

  <div class="subhead">Port Regulations Ordinance Amendment</div>
  "The Port Committee will have the power to establish and revise guidelines and rules for the safe use and operation of
  floats, including, but not limited to, the use of slides, swings, diving boards, trampolines, and other ..."
  <div class="fakelink">Selectmen's Meeting 01/13/2020</div>

  <div class="subhead">Blasting Ordinance Amendment</div>
  "No blasting shall be done without first obtaining a permit to blast from the Code Enforcement Officer pursuant to
  this section. The application for a permit to blast shall include ..."
  <div class="fakelink">Selectmen's Meeting 01/13/2020</div>

  <div class="subhead">Mobile Food Vendors Ordinance</div>
  "No retail/wholesale sales or services of food, beverages or other items intended for immediate human consumption
  shall be offered or solicited except on privately owned property, in which the retail sales or services are located,
  except for restaurants, which ..."
  <div class="fakelink">Selectmen's Meeting 12/23/2019</div>

  <div class="subhead">NOTE</div>
  The above information comes from text in a transcript that was tagged as relating to an ordinance, bill, proposal,
  proclamation, etc. Clicking on a meeting link would take the user to the full text of that discussion.
</span>
