<span *ngIf="location == 'Lincoln County'">
  <div class="subhead">Regional Government Units</div>
  <br />

  Monitoring the activities of regional government units may vary from that used for municipal units. It will depend on
  the answers to the following questions:

  <ul>
    <li>What autonomous powers does the regional unit have?</li>
    <li>Can it raise taxes?</li>
    <li>Can it pass legislation?</li>
    <li>Are meetings open to the public?</li>
    <li>Is the public allowed to speak at meetings?</li>
    <li>Does open voting occur at the meetings?</li>
    <li>Are committee reports presented at the meetings?</li>
  </ul>

  <p>
    We don't have an actual recording or transcript of a county commissioner's meeting. But the minutes for one of the
    Lincoln County Commissioner meetings is shown in the "Meeting Minutes" box.
  </p>

  <div class="subhead">Discussion of Regional Units</div>
  <p>
    On the LIncoln County website, there is some discussion of the history and nature of regional government units in
    the U.S., which is instructive.
  </p>
  <p>
    "Today there are over three thousand counties in the United States with sixteen being in Maine. This unit of local
    government came to America from England along with many of our other governmental and political traditions. In
    England, counties are called shires and, for many years, one of the chief officials in the English shire was the
    shire-reeve. In the United States today, that same official is known as the Sheriff. This is just one example of how
    our current political names and traditions are linked to our English heritage."
  </p>

  <p>
    "In Maine, as throughout New England, counties have been much slower to grow as regional units of government due
    chiefly to our early settlement patterns and the early growth of towns and the town meeting form of government.
    (Outside of New England, counties are much stronger units of local government - often performing most of the
    functions performed by municipalities here in New England.) Originally established to provide certain court, jail
    and road functions, counties in Maine have always performed regional government functions. They still do as
    illustrated by the information provided on this Website. In addition to performing their current regional duties,
    state law allows counties to partner with municipalities to perform functions that are mutually beneficial to both
    levels of government. Lincoln County has taken the lead in doing this with its Recycling & Food Waste Management
    Program, its County Planner and its County Economic Development Director.""
  </p>

  <p>
    "Each county is governed by a Board of County Commissioners who are elected for four year terms on a partisan basis.
    Typically, the Chairmanship of the Board is rotated annually. As allowed by state law, some Boards of Commissioners
    have hired administrators/managers and some County voters have approved charters for their Counties as
    municipalities often do."
  </p>

  <p>
    "Here in Lincoln County, the Board of Commissioners has adopted the statutory county administrator plan of
    government. By state law, the Board of Commissioners has the responsibility to prepare an annual Budget for the
    County, to approve the hiring and termination of employees and to exercise certain other duties as specified in the
    law. When the initial Budget is proposed, it is first submitted to the County Budget Committee which reviews it and
    makes recommendations on it. (The Budget Committee process varies from county to county as prescribed by state law.)
    Once the County Budget is finally adopted, the County sends a tax assessment to each of its municipalities based on
    the state property valuation of each. The county assessment is then added to the municipal and school assessments
    and is included in the annual tax commitment in each municipality within the county - resulting in the property tax
    bill you receive each year from your municipality."
  </p>

  <p>
    "A Commissioner is elected from each of three Districts within the County."
  </p>
</span>
