<div *ngIf ="location" class="subhead">
  <span></span>Recent Meetings

  <table style="width:100%">
    <tr>
      <th>Date</th>
      <th>Meeting Description</th>
    </tr>
    <tr>
      <td>1/23/2020</td>
      <td>Regular City Council</td>
    </tr>
    <tr>
      <td>1/23/2020</td>
      <td>Housing Finance Corporation (AHFC) Board of Directors</td>
    </tr>
    <tr>
      <td>1/21/2020</td>
      <td>Work Session of the City Council</td>
    </tr>
    <tr>
      <td>1/14/2020</td>
      <td>Capital Metro and City Council Joint Work Session</td>
    </tr>
  </table>
</div>

