<div class="card" [ngStyle]="currentStyles">
  <!-- <div class="card" [ngStyle]="currentStyles" (click)="toggleCollapsed()"> -->
  <div class="card__header help-header" matTooltip={{tooltip}} matTooltipClass="headertip">
    <div class="card__header-icon {{iconcolor}}">
      <i class={{icon}}></i>
    </div>
    <div class="card__header-title text-light">
      <strong>{{title}} </strong>
      <!-- <i *ngIf="collapsed" class="fa fa-angle-down custom" (click)="collapsed=false" ></i> -->
      <!-- <i *ngIf="!collapsed" class="fa fa-angle-up custom" (click)="collapsed=true" ></i> -->
      <i *ngIf="collapsed" class="fa fa-angle-down custom" (click)="toggleCollapsed()" ></i>
      <i *ngIf="!collapsed" class="fa fa-angle-up custom" (click)="toggleCollapsed()"  ></i>
      <!-- <a href="#" class="card__header-link text-bold">View All</a> -->
    </div>
    <mat-icon class="help-icon"
      matTooltip={{tooltip}} matTooltipClass="tooltip">help</mat-icon>
    </div>
    <div class="card__content">
    <!-- {{sampleContent}} -->
  <ng-content></ng-content>
  </div>
</div>
