<ul class="navList">
  <!-- <mat-icon class="help-icon" [ngStyle]="{'color':'lightblue'}" matTooltip="Choose which data is displayed in the content area.">help</mat-icon> -->
  <li class="navList__heading">Government<i class="far fa-file-alt"></i></li>
      <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-city"></i></span>
        <span class="navList__subheading-title">City of Austin</span>
      </div>
      <ul class="subList subList--hidden">
        <li class="subList__item">City Council</li>
        <li class="subList__item">Board of Education</li>
        <li class="subList__item">Planning Board</li>
      </ul>
    </li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <!-- <span class="navList__subheading-icon"><i class="fas fa-plane-departure"></i></span> -->
        <span class="navList__subheading-icon"><i class="far fa-image"></i></span>
        <span class="navList__subheading-title">Travis County</span>
      </div>
      <ul class="subList subList--hidden">
        <li class="subList__item">Commissioners</li>
        <li class="subList__item">Transportation</li>
      </ul>
    </li>
    <li>
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="fas fa-star"></i></span>
          <span class="navList__subheading-title">State of Texas</span>
        </div>
        <ul class="subList subList--hidden">
          <li class="subList__item">House of Representatives</li>
          <li class="subList__item">Senate/li>
        </ul>
      </li>
      <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fas fa-flag"></i></span>
            <span class="navList__subheading-title">US Congress</span>
          </div>
          <ul class="subList subList--hidden">
            <li class="subList__item">House of Representatives</li>
            <li class="subList__item">Senate</li>
          </ul>
        </li>

    <li class="navList__heading">Non-Government<i class="far fa-envelope"></i></li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="far fa-building"></i></span>
        <span class="navList__subheading-title">Glenside HOA</span>
      </div>
      <ul class="subList subList--hidden">
        <li class="subList__item">Governing Board</li>
        <li class="subList__item">Covenance Committee</li>
      </ul>
    </li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-paw"></i></span>
        <span class="navList__subheading-title">Paws Rescue</span>
      </div>
      <ul class="subList subList--hidden">
        <li class="subList__item">Trustees</li>
        <li class="subList__item">Special Meetings</li>
      </ul>
    </li>

    <li class="navList__heading">Other Links<i class="fas fa-chart-bar"></i></li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-credit-card"></i></span>
        <span class="navList__subheading-title">
            <a [routerLink]="['/dashboard']">Dashboard</a>
          </span>
      </div>
    </li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-phone"></i></span>
        <span class="navList__subheading-title">
          <a [routerLink]="['/about']">Documentation</a>
        </span>
      </div>
    </li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-plane"></i></span>
        <span class="navList__subheading-title">
            <a [routerLink]="['/viewmeeting']">View Meeting</a>
        </span>
      </div>
    </li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-plane"></i></span>
        <span class="navList__subheading-title">
            <a [routerLink]="['/addtags']">Add Tags</a>
        </span>
      </div>
    </li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-plane"></i></span>
        <span class="navList__subheading-title">
            <a [routerLink]="['/fixasr']">Fix ASR</a>
        </span>
      </div>
    </li>

<!--     <li class="navList__heading">Events<i class="fas fa-calendar-alt"></i></li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-wine-glass-alt"></i></span>
        <span class="navList__subheading-title">weddings</span>
      </div>
      <ul class="subList subList--hidden">
        <li class="subList__item">past</li>
        <li class="subList__item">present</li>
        <li class="subList__item">future</li>
      </ul>
    </li>
    <li>
      <div class="navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-school"></i></span>
        <span class="navList__subheading-title">playdates</span>
      </div>
      <ul class="subList subList--hidden">
        <li class="subList__item">weirdos</li>
        <li class="subList__item">smarties</li>
        <li class="subList__item">nerds</li>
      </ul>
    </li>
    <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fas fa-users"></i></span>
            <span class="navList__subheading-title">networking</span>
          </div>
          <ul class="subList subList--hidden">
            <li class="subList__item">tech</li>
            <li class="subList__item">automotive</li>
            <li class="subList__item">UX research</li>
            <li class="subList__item">development</li>
          </ul>
        </li>
 -->  </ul>


