<mat-toolbar color="primary" class="mat-elevation-z1">
  <!-- <button mat-icon-button id="menu" (click)="navService.openNav()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Govmeeting</span>
  <span class="filler"></span>

  <!-- <mat-form-field>
    <mat-select>
      <mat-option *ngFor="let language of languages" [value]="language.value">
        {{language.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <span *ngIf="!isBeta">
    <select id="language" #mySelect [(ngModel)]="language" (change)="setLanguage(mySelect.value)">
      <option *ngFor="let language of languages" [value]="language.value"> {{language.viewValue}} </option>
    </select>
  </span>

  <span class="filler" (click)="navService.closeNav()">
    <span class="filler"></span>

    <button class="sidenav-close" mat-icon-button (click)="navService.closeNav()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>
