<!-- Display all the topics. Within each topic, we will display what was said. -->
<div id="browseMeeting">
  <div *ngFor="let topicDiscuss of topicDiscussions; let i = index">
      <div [hidden]="!CheckShowTopic(topicDiscuss.name)">
        <h2>{{topicDiscuss.name}}</h2>
          <!-- Display all the speakers and their statements on this topic. -->
          <div style="padding:10px">
              <div *ngFor="let talk of topicDiscuss.talks; let j = index">
                  <div [hidden]="!CheckShowSpeaker(talk.speaker)">
                      <p><strong>{{talk.speaker}}:</strong> {{talk.text}} </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
