<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">Home</a>
    &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}">About</a>
    &nbsp; &nbsp; &nbsp;
  <a [routerLink]="['/fixasr']" [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">Fix Errors</a>
    &nbsp; &nbsp; &nbsp;
  <a [routerLink]="['/addtags']" [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">Add Tags</a>
    &nbsp; &nbsp; &nbsp;
  <a [routerLink]="['/meeting']" [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">Browse</a>
    &nbsp; &nbsp; &nbsp;
  <a [routerLink]="['/matsamp']" [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}">Sample UI</a>
</nav>
