// for debug
//.card  { border: 3px dashed red; }

@import '../../../../colors.scss';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  border: 2px solid $color-deep-blue;

  &__content {
    background-color: PaleGoldenRod;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: $color-deep-blue;
    color: $color-white;

    & :hover {
      cursor: pointer;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      margin: 5px;
      font-size: 15px;
      color: #fff;
    }

    &-title {
      margin: 0 10px;
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}
