<div class="card" [ngStyle]="currentStyles">
  <div class="card__header" (click)="toggleCollapsed()">
    <div class="card__header-icon {{iconcolor}}">
      <mat-icon class="routeIcon">{{icon}}</mat-icon>
    </div>

    <div class="card__header-title text-light">
      <span><strong> {{title}} </strong></span>
      <mat-icon *ngIf="collapsed" class="expandIcon">expand_more</mat-icon>
      <mat-icon *ngIf="!collapsed" class="expandIcon">expand_less</mat-icon>
    </div>

    <div></div>
  </div>

  <div class="card__content">
    <ng-content></ng-content>
  </div>
</div>
