<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/meeting']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">MEETING</a>
  <a [routerLink]="['/addtags']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ADD TAGS</a>
</nav>
