<p>
    <br /><h1> Govmeeting xx - Access to your town or city council meetings </h1>
<p>

  <!--<markdown>
    ## Test of Markdown h2 content
  </markdown>-->

  <h2> Using this site, you will be able to: </h2>
  <ul>
    <li>
      Browse transcripts of your town or city meetings. Browse by subject, speaker, etc. <a href="meeting">Browse meetings </a>
    </li>
    <li>
      Be notified when a specific topic is discussed at future meetings: <a href="updates">Notifications</a></li>
  </ul>
  
  <h2> How it works: </h2>

  <ul>
    <li>
      Anyone can register their town or city to have their meeting information available here: <a href="registerGov">Register my town or city</a>
    </li>
  </ul>
  <p> Sometimes your town or city may provide transcripts of meeetings. Sometimes only a video recording is available. At other times, neither may be available.
  We try to cover all three situations. </p>
  <ul>
    <li>
      When only recordings of meeting are available, we will auto transcribe the recording. Volunteers will then proof-read the transcription.: <a href="fixasr">Proof-read transcripts </a>
    </li>
    <li>
      Volunteers will tag the transcript with appropriate subject names: <a href="addtags">Tag transcripts</a>
    </li>
    <li>
      If neither online recordings or transcripts, a volunteer can use our mobile app to record a meeting and upload it: <a href="record">Record meeting</a>
    </li>
  </ul>
    

  <h2> Become involved! </h2>

  <h3> Community Activists</h3>

<ul>
  <li>
    Register your town or city to participate: <a href="registerGov">Register my town or city</a>
  </li>
  <li>
    Register as a volunteer to proof-read and tag transcripts: <a href="register">Register</a>
  </li>
</ul>
  <h3> Software Developers</h3>

  Please join us! The front end is written in Javascript/Typescript with Angular. The server code is in C# with Asp.Net Core.
See: <a href="http://github.com/govmeeting/govmeeting">github.com/govmeeting/govmeeting</a><br>

