<p>
  <h1> Govmeeting  - Software to make government meetings  more accessable. </h1>
<p>

This is just a dummy home page. The actual home page would probably contain:
<ul>
  <li> A summary of the project and its goals </li>
  <li> Information on how to get involved </li>
  <li> Links to the pages for the towns/cities who are participating </li>
  <li> Login and reistration links for volunteers </li>
  <li> A box highlighting recently added data </li>
  <li> A box highlighting the current most active volunteers </li>
  <li> Other information to be decided
</ul>


<br>
The <a href="about">About </a> tab above takes us to a page with more information about the project. <br><br>

The <a href="meeting">Meeting </a> tab above shows a rudimentary example of how we could show a meeting transcript. <br>
This is from the transcript from a selectmen's meeting in a small town in Maine. <br>
Click on a topic to only see that topic. Click on a name to see only what that person said. <br>
When choosing a speaker, we would need to show some of what was said before and after for it to be usable. <br> <br>

The <a href="addtags">Add Tags </a> tag above shows a program that a volunteer might use to process a transcript. <br>
This example is from a transcript of a Philadelphia City Council meeting. <br>
Topic names can be added to the text. Topic name and  section names can be easily moved by clicking on the up/down arrows.<br>
Adding topic names only makes sense in certain sections - Presentations, Reports, Public comments.
This example code allows them to be added anywhere.



<!--<ul>
  <li>The software is an <a href="http://github.com/govmeeting/govmeeting">open source Github project</a></li>
  <li> For Design detail, see: <a href="http://github.com/govmeeting/govmeeting/wiki/Design-Documentation">Github Wiki documentation.</a></li>
  <li></li>
  <li> The <a href="about">About tab</a> above gives an project overview
  <li> The <a href="meeting">Meeting tab</a> above shows a sample of a town selectmen's meeting.</li>
  <li> The <a href="Addtabs">Add Tags tab</a> above shows the program that a volunteer would use.</li>
</ul>-->
