<p>
    <h1> Govmeeting  - Software for government involvement </h1>
<p>

    This will eventually become the home page for the software being developed at:
    <a href="http://github.com/govmeeting/govmeeting">github.com/govmeeting/govmeeting</a><br>

    The tabs above show the start of some of the features being developed. <br><br>

    The <a href="fixasr">Fix Errors </a> tab shows the start of a program for correcting errors in a transcript. The transcript was created automatically from a video recording. <br><br />


    The <a href="addtags">Add Tags </a> tab shows the start of a program for adding topic and section names to a transcript. <br>
    This sample transcript is of a Philadelphia City Council meeting. <br> <br>

    The <a href="meeting">Meeting </a> tab shows the start of a program for displaying a meeting transcript. <br>
    The transcript is from a selectmen's meeting in a small town in Maine. <br> <br>





    <!--<ul>
      <li>The software is an <a href="http://github.com/govmeeting/govmeeting">open source Github project</a></li>
      <li> For Design detail, see: <a href="http://github.com/govmeeting/govmeeting/wiki/Design-Documentation">Github Wiki documentation.</a></li>
      <li></li>
      <li> The <a href="about">About tab</a> above gives an project overview
      <li> The <a href="meeting">Meeting tab</a> above shows a sample of a town selectmen's meeting.</li>
      <li> The <a href="Addtabs">Add Tags tab</a> above shows the program that a volunteer would use.</li>
    </ul>-->
