@mixin box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
$color-abbey: #777; // gray text
$color-java: #1BBAE1; // blue text

@mixin profile-avatar {
  // background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1609106/headshot.png");
  background-image: url("/assets/images/avatar-icon-png-12.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .2);
}

.dropdown {
  position: absolute;
  top: 54px;
  right: -16px;
  width: 220px;
  height: auto;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .3s;
  @include box-shadow;

  &__avatar {
    @include profile-avatar;
    position: relative;
    margin: 0 26px;
    width: 35px;
    height: 35px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background: none;
      border-left: 2px solid $color-abbey;
      border-bottom: 2px solid $color-abbey;
      transform: rotate(-45deg) translateY(-50%);
      top: 50%;
      right: -18px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__list-item {
    padding: 6px 12px;
    color: $color-abbey;
    text-transform: capitalize;

    &:hover {
      background-color: rgba(0,0,0, .1);
    }
  }

  &__icon {
    color: $color-java;
  }

  &__title {
    margin-left: 10px;
  }

  &:before {
    position: absolute;
    content: "";
    top: -6px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #FFF;
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 46.875em) {
  .dropdown {
    &__menu {
      display: none;
    }
/*
    &__search {
      margin-left: 20px; // No menu icon; move 'er back over
    }

 */
    &__avatar {
      width: 40px;
      height: 40px;
    }
  }
}
