<!-- <aside class="sidenav"> -->
  <div class="sidenav__brand">
    <i class="fas fa-feather-alt sidenav__brand-icon"></i>
    <a class="sidenav__brand-link" href="#">Ux<span class="text-light">Pro</span></a>
    <i class="fas fa-times sidenav__brand-close"></i>
  </div>
  <div class="sidenav__profile">
    <div class="sidenav__profile-avatar"></div>
    <div class="sidenav__profile-title text-light">Matthew H</div>
  </div>
  <div class="row row--align-v-center row--align-h-center">
    <ng-content></ng-content>
    <!-- <gm-sidenav-menu></gm-sidenav-menu> -->
  </div>
<!-- </aside> -->

