<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="isHandset ? '1' : '2'" [rowspan]="isHandset ? '1' : '1'">
      <sample-card>First Card</sample-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="isHandset ? '1' : '1'" [rowspan]="isHandset ? '1' : '1'">
      <sample-card>Second Card</sample-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="isHandset ? '1' : '1'" [rowspan]="isHandset ? '1' : '1'">
      <sample-card>Third Card</sample-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->


<!-- <div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="isHandset ? 6 : 12" rowHeight="350px">
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
        <sample-card>First Card</sample-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
        <sample-card>Second Card</sample-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
        <sample-card>Third Card</sample-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

  <!-- <p>{{ results1$ | async | json }}</p>
  <p>{{ results2$ | async | json }}</p> -->
  width/height={{ innerWidth }}/{{ innerHeight }}
  isHandset={{isHandset}}
  orientation={{orientation}}
  viewsize = {{viewsize}}

  <div class="grid-container">
      <mat-grid-list [cols]="GetCols()" rowHeight="340" gutterSize="5" [style.background]="'skyblue'">
          <!--<mat-grid-list [cols]="isHandset ? 6 : 12" rowHeight="400px">-->
        <mat-grid-tile [colspan]='2' [rowspan]='1'>
          <gm-chat></gm-chat>
        </mat-grid-tile>
          <mat-grid-tile [colspan]='3' [rowspan]='1'>
        <gm-about></gm-about>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="GetColspan(1, 2)" [rowspan]='1'>
          <gm-volunteer></gm-volunteer>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
          <gm-home></gm-home>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
          <gm-needed-features></gm-needed-features>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
        <gm-project-status></gm-project-status>
      </mat-grid-tile>
      <mat-grid-tile><mat-card class="simple">Simple card</mat-card></mat-grid-tile>
      </mat-grid-list>
  </div>

