
// .grid {   border: 3px dotted green; }
.header {  border: 3px dashed Aquamarine; }
.header__menu { border: 3px dotted red; }
.sidenav  { border: 3px dotted Fuchsia }
.main  { border: 3px dashed blue }
.settings  { border: 3px dotted green }
.header  { border: 3px dotted yellow; }
.overview { border: 3px dotted Fuchsia }

@import "../../styles.scss";


$height-header: 50px;
$height-footer: 50px;
$width-sidenav: 240px;


// Resets
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}

///////////////////////// GRID ////////////////////////////////////

// Establish dashboard css grid layout - mobile
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 100%; // Charts responsiveness won't work with fr units
  grid-template-rows: $height-header 1fr $height-footer;
  grid-template-areas:
    'header'
    //'testgrid'
    'main'
    'footer';
  height: 100vh;
  overflow-x: hidden; // Prevent overflow scroll from hidden sidenav

  &--noscroll {
    overflow-y: hidden;
  }
}

// Break out to sidenav grid layout on medium + screens
@media only screen and (min-width: 46.875em) {
  .grid {
    display: grid;
    grid-template-columns: $width-sidenav calc(100% - 240px); // Charts responsiveness won't work with fr units
    grid-template-rows: $height-header 1fr $height-footer;
    grid-template-areas:
      'sidenav header'
      //'sidenav testgrid'
      'sidenav main'
      'sidenav footer';
    height: 100vh;
  }
}

//////////////////////////// SIDENAV //////////////////////////

.sidenav {
  position: fixed; // Access sidenav at any scroll position; relatively positioned on medium + screens
  grid-area: sidenav;
  height: 100%;
  width: $width-sidenav; // Will match grid area on medium + screens
  overflow-y: auto;
  background-color: $color-fiord;
  color: $color-white;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; // Needs to sit above the hamburger menu icon
}

@media only screen and (min-width: 46.875em) {
  .sidenav {
    position: relative;
    transform: translateX(0);

     &__brand-close {
      visibility: hidden;
    }
  }
}

/* .sidenav {
  position: fixed; // Access sidenav at any scroll position; relatively positioned on medium + screens
  grid-area: sidenav;
  height: 100%;
  overflow-y: auto;
  background-color: $color-fiord;
  color: $color-white;
  width: $width-sidenav; // Will match grid area on medium + screens
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; // Needs to sit above the hamburger menu icon
}

@media only screen and (min-width: 46.875em) {
  .sidenav {
    position: relative;
    transform: translateX(0);

    &__brand-close {
      visibility: hidden;
    }
  }
}
 */

///////////////////////////////////////////////////////////////////

// Styles for example chart
#chartdiv {
  width: 100%;
  height: 300px;
  font-size: 11px;
  min-width: 0;
}
