<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="isHandset ? '1' : '2'" [rowspan]="isHandset ? '1' : '1'">
      <sample-card>First Card</sample-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="isHandset ? '1' : '1'" [rowspan]="isHandset ? '1' : '1'">
      <sample-card>Second Card</sample-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="isHandset ? '1' : '1'" [rowspan]="isHandset ? '1' : '1'">
      <sample-card>Third Card</sample-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->


<!-- <div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="isHandset ? 6 : 12" rowHeight="350px">
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
        <sample-card>First Card</sample-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
        <sample-card>Second Card</sample-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='3' [rowspan]='1'>
        <sample-card>Third Card</sample-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

  <!-- <p>{{ results1$ | async | json }}</p>
  <p>{{ results2$ | async | json }}</p> -->
  width/height={{ innerWidth }}/{{ innerHeight }}
  isHandset={{isHandset}}
  orientation={{orientation}}

  <div class="grid-container">
      <mat-grid-list [cols]="isHandset ? 6 : 12" rowHeight="350px">
        <mat-grid-tile [colspan]='3' [rowspan]='1'>
          <gm-about></gm-about>
          <!-- <sample-card>First Card</sample-card> -->
        </mat-grid-tile>
        <mat-grid-tile [colspan]='3' [rowspan]='1'>
            <gm-about></gm-about>
            <!-- <sample-card>Second Card</sample-card> -->
        </mat-grid-tile>
        <mat-grid-tile [colspan]='3' [rowspan]='1'>
            <gm-about></gm-about>
            <!-- <sample-card>Third Card</sample-card> -->
        </mat-grid-tile>
        <mat-grid-tile [colspan]='3' [rowspan]='1'>
            <gm-about></gm-about>
            <!-- <sample-card>Fourth Card</sample-card> -->
          </mat-grid-tile>
        </mat-grid-list>
    </div>

