
.main  { border: 3px dashed blue }

@import "../../styles.scss";

$height-header: 50px;
$height-footer: 50px;
$width-sidenav: 240px;

///////////////////////// GRID ////////////////////////////////////

//  Dashboard layout on mobile
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 100%; // Charts responsiveness won't work with fr units
  grid-template-rows: $height-header 1fr $height-footer;
  grid-template-areas:
    'header'
    //'testgrid'
    'main'
    'footer';
  height: 100vh;
  overflow-x: hidden; // Prevent overflow scroll from hidden sidenav

  &--noscroll {
    overflow-y: hidden;
  }
}

// Show sidenav on medium screens and above
@media only screen and (min-width: 46.875em) {
  .grid {
    display: grid;
    grid-template-columns: $width-sidenav calc(100% - 240px); // Charts responsiveness won't work with fr units
    grid-template-rows: $height-header 1fr $height-footer;
    grid-template-areas:
      'sidenav header'
      //'sidenav testgrid'
      'sidenav main'
      'sidenav footer';
    height: 100vh;
  }
}

//////////////////////////// SIDENAV //////////////////////////

.sidenav {
  position: fixed;
  grid-area: sidenav;
  height: 100%;
  width: $width-sidenav;
  overflow-y: auto;
  background-color: $color-fiord;
  color: $color-white;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

@media only screen and (min-width: 46.875em) {
  .sidenav {
    position: relative;
    transform: translateX(0);

     &__brand-close {
      visibility: hidden;
    }
  }
}

///////////////////////////////////////////////////////////////////

// Styles for example chart
/* #chartdiv {
  width: 100%;
  height: 300px;
  font-size: 11px;
  min-width: 0;
}
 */
