<!-- <a mat-list-item [ngStyle]="{'padding-left': (item.depth * 10) + 'px'}" (click)="onItemSelected(item)"
    [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"> -->

<a mat-list-item [ngStyle]="{'padding-left': (item.depth * 10) + 'px'}" (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false}">
  <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
  <span class="{{displayNameClass}}">{{item.displayName}}</span>
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="item.expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="item.expanded">
  <!-- <app-menu-list-item *ngFor="let child of item.children" [item]="child" (finalSelection)=OnFinalSelection($event)> -->
    <app-menu-list-item *ngFor="let child of item.children" [item]="child">
      <!-- <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1" (finalSelection)=OnFinalSelection($event)> -->
    </app-menu-list-item>
</div>
