@import '../theme';

:host {
  display: block;
  outline: none;

  // &.active {
  //   background-color: green;
  // }

  // .mat-list-item.active {
  //   background-color: green;
  //   // background-color: lightgoldenrodyellow;
  //   // background-color: mat-color($app-primary, 50);
  // }
  // &:hover,
  // &:focus {
    // .mat-list-item:not(.expanded) {
    //   // background-color: lightgreen;
    //   background-color: mat-color($app-primary, 100) !important;
    // }
    // .mat-list-item.expanded {
    //   // background-color: lightblue;
    //   background-color: mat-color($app-primary, 200) !important;
    // }
  // }
}

// .active {
//   background-color: green;
// }

.mat-list-item {
  height:32px;
  padding: 2px 0;

  .routeIcon {
    margin-right: 10px;
  }
}

.depth0 {
  font-weight: bold;
  font-size: 130%;
}
.depth1 {
  font-weight:bold;
  font-size: 110%;
  // text-decoration: underline;
}
.depth2 {
  font-weight:bold;
  // font-style:oblique;
}
