<span *ngIf="location=='Lincoln County'">

  <div class="subhead">Handling county level political entities</div>

  It appears that this will probably need to be handled differently.
  That will depend on the answers to the following questions:

  <ul>
    <li> Are the meetings open to the public? </li>
    <li> If so, is the public allowed to speak? </li>
    <li> What kind of discussion occurs at their meetings? </li>
    <li> What kind of decisions are made at the county level? </li>
    The minutes for one of the prior Lincoln County Commissioner meeting shows only
    decisions made to approve funding levels for county projects.
    [ See the "View Latest Meeting" box. ]
    <li> Does the county government have the ability to: </li>
    <ul>
      <li> Raise taxes? </li>
      <li> Pass laws binding on the citizens? </li>
    </ul>
  </ul>
