<div>
    <!-- <speakers> -->
        <span> <strong> Select Speaker: </strong> </span>
    <span *ngFor=" let speaker of speakerNames; let i = index">
        <span myhighlight [hidden]="i==0" (click)="FilterBySpeaker(i)"> [{{speaker}} </span>
        <span myhighlight [hidden]="i!=0"  (click)="FilterBySpeaker(i)"> [All </span>
        <!-- <span [hidden]="i!=selectedSpeaker"> ## </span> -->
        <span [hidden]="!IsSelectedSpeaker(i)"> ##] </span>
        <span [hidden]="IsSelectedSpeaker(i)"> ] </span>
    </span>
    <!-- </speakers> --><br>
</div>
