@{
    ViewData["Title"] = "Home Page";
}

@*Code from ASP.NET Identity 3 for ASP.NET CORE - Brock Allen
Note that "User" is automatically available. This is the UserManager.*@
<!--
<h1>Claims</h1>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
-->

<sd-app>Loading...</sd-app>