<div id="wrap">

	<!-- <h1> Govmeeting </h1> -->
	
	<div id="nav">
		<navbar></navbar>
	</div>

	<div id="header">
		<heading></heading>
	</div>


	<div id="main">
		<browsemeeting></browsemeeting>
	</div>


	<!-- The sidebar contains the options for choosing a topic or a speaker. Only what is chosen
    will be displayed in the main content. -->
	<div id="sidebar">
		<topics></topics>
		<speakers></speakers>

    Click on a topic or speaker to select it. <br>
	</div>

	<div id="footer">
		<footer></footer>
	</div>
</div>