<!DOCTYPE html>
<!-- Note: This file, index.html. is only used when debugging the client side code without running the Asp.Net server.
    This is true when we use Visual Studio Code. Normally, the file "Layout.cshtml" in the Asp.Net app, 
    takes the place of this file. This is the case in production, or when debugging client and sever code
    together.
-->
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/favicon/favicon-<%= ENV_CONFIG.ENV %>.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<rel href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-okaidia.min.css">-->

  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>


<!-- The following is an experiment with using angular material. Also see app.component.html. 
<div class="mypurplediv"> My Purple Div </div>
<div class="call-outs-container">
    <div class="call-out">
        <h4>Feature 1</h4>
        <p>Presently they  fell  asleep  for  a  little  while.  When
            Winston  woke  up  the  hands  of  the clock had crept round to
            nearly nine. He did not stir, because Julia was  sleeping  with
            her  head  in  the  crook  of  his arm.</p>
    </div>
    <div class="call-out">
        <h4>Feature 2</h4>
        <p>Presently they  fell  asleep  for  a  little  while.  When
            Winston  woke  up  the  hands  of  the clock had crept round to
            nearly nine. He did not stir, because Julia was  sleeping  with
            her  head  in  the  crook  of  his arm.</p>
    </div>
    <sd-app>Loading...</sd-app>
</div>
-->

    <sd-app>Loading...</sd-app>

  <script>
    // These are flags passed to the Angular app. Loading this file, "index.html", implies
    // isServerRunning is false and means that the Asp.Net server is not running.
    // We then use test data contained within the Client's "assets" folder.
    // If isDataFromMemory is true, we will use test data in memory.
    window.APP_DATA = { isServerRunning: false, isDataFromMemory: false } 
  </script>

<script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Not expecting this error? Report it at https://github.com/govmeeting/govmeeting/issues');
    });
  </script>
  <% } %>

</body>
</html>
